.hero_image_cell {
  vertical-align: bottom;
}

.hero_image {
  margin-right: (-70 / 16 * 1em);

  .contacts_page & {
    margin-right: (10 / 16 * 1em);
  }

  img {
    display: block;
  }
}

.hero_text_cell {
  text-align: center;

  @include respond-to-max($resp_step_2) {
    .banner_title {
      margin: (20 / 27 * 1em) 0 (5 / 27 * 1em);
    }

    .banner_text {
      p {
        margin-bottom: (20 / 16 * 1em);
        font-size: (16 / 16 * 1em);
      }
    }
  }

  @include respond-to-min($resp_step_2) {
    text-align: left;

    &.hero_cell_top {
      vertical-align: top;
      padding-top: (142 / 16 * 1em);
    }

    .banner_title {
      margin-bottom: (10 / 40 * 1em);
    }

    p {
      line-height: 1.5;
    }
  }
}

.breadcrumbs_spacer {
  line-height: (40 / 16 * 1em);
  height: (40 / 16 * 1em);
  position: relative;
  display: none;

  @include respond-to-min($resp_step_2) {
    line-height: (70 / 16 * 1em);
    height: (70 / 16 * 1em);
    display: block;
  }
}

.breadcrumbs_holder {
  //@include transition_all(box-shadow .3s, line-height .3s);
  @extend %translate3d;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #f7f7f7;
  z-index: 3;
  line-height: inherit;

  .breadcrumbs_fixed & {
    position: fixed;
    top: (50 / 16 * 1em);
    line-height: (40 / 16 * 1em);
    box-shadow: 0 (5 / 16 * 1em) (15 / 16 * 1em) rgba(8, 52, 91, 0.13);

    @include respond-to-min($resp_step_2) {
      //top: (100 / 16 * 1em);
      top: 100px;
    }
  }
}

.breadcrumbs_list {
  @extend %clearfix;

  > li {
    @extend %icon_pseudo;
    position: relative;
    float: left;
    padding-left: (35 / 16 * 1em);

    &:before {
      content: $i-chevron-right;
      position: absolute;
      top: 50%;
      height: (20 / 16 * 1em);
      line-height: (20 / 16 * 1em);
      font-size: (12 / 16 * 1em);
      margin-top: (-10 / 16 * 1em);
      left: (12 / 16 * 1em);

    }

    &:first-child {
      padding-left: 0;

      &:before {
        display: none;
      }
    }
  }
}

.breadcrumb_link {
  display: block;
  font-size: (14 / 16 * 1em);

  @at-root a#{&} {
    color: #1d87e4;
  }

}

.about_section {
  padding-top: (50 / 16 * 1em);
}

.about_img_w {
  margin: (-25 / 16 * 1em) (-25 / 16 * 1em) (25 / 16 * 1em);

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    margin: (-25 / 16 * 1em) 0 0 -5%;
    float: left;
    width: 55%;
  }
}

.about_block {

  .block_caption {
    text-align: center;
  }

  > p {
    font-size: (14 / 16 * 1em);
    line-height: 1.7;
    margin-bottom: (15 / 14 * 1em);
  }

  @include respond-to-min($resp_step_2) {
    float: right;
    width: 50%;
    padding-left: 1%;

    > p {
      line-height: 1.75;
      font-size: (16 / 16 * 1em);
      margin-bottom: (15 / 16 * 1em);
    }

    .block_caption_tip,
    .block_caption {
      text-align: left;
    }
  }
}

.about_caption {
  position: relative;
  z-index: 1;
  padding-bottom: (20 / 16 * 1em);
  font-size: (14 / 16 * 1em);
  font-weight: 500;
  letter-spacing: (1.7 / 16 * 1em);
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: (-20 / 16 * 1em);
    width: (40 / 16 * 1em);
    height: (2 / 16 * 1em);
    background: #cad3db;
  }

  @include respond-to-min($resp_step_2) {
    text-align: left;
    font-size: (16 / 16 * 1em);
    letter-spacing: (2 / 16 * 1em);
    padding-bottom: (16 / 16 * 1em);

    &:before {
      left: 0;
      margin-left: 0;
    }
  }
}

.licence_block {
  position: relative;

  @include respond-to-max($resp_step_2) {
    background: #f7f7f7;
    margin: 0 (-25 / 16 * 1em);
    padding: (58 / 16 * 1em) (25 / 16 * 1em) (20 / 16 * 1em);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: -moz-linear-gradient(top, rgba(234, 241, 245, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
      background: -webkit-linear-gradient(top, rgba(234, 241, 245, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
      background: linear-gradient(to bottom, rgba(234, 241, 245, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf1f5', endColorstr='#80ffffff', GradientType=0);

      //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #eaf1f5 100%);
    }
  }
}

.licence_link {
  color: #1d87e4;
  font-weight: 500;
}

.licence_file {
  padding-top: (5 / 16 * 1em);
  font-size: (14 / 16 * 1em);
  color: #cad3db;
}

.about_licences {
  @extend %clearfix;
  margin-left: (-30 / 16 * 1em);
  position: relative;
  z-index: 1;
  text-align: center;

  > li {
    padding-left: (30 / 16 * 1em);
    margin-bottom: (10 / 16 * 1em);
  }

  @include respond-to-min($resp_step_2) {
    text-align: left;

    > li {
      float: left;
      max-width: 50%;
      margin-bottom: (30 / 16 * 1em);
    }
  }
}

.licence_unit {
  padding: (7 / 16 * 1em) (25 / 16 * 1em);
  line-height: 1.4;

  p {
    font-size: (14 / 16 * 1em);
  }

  @include respond-to-min($resp_step_2) {
    padding: (28 / 16 * 1em) 0 0;

    p {
      font-size: (16 / 16 * 1em);
    }
  }
}

.licence_img {
  display: inline-block;
  vertical-align: top;
  max-width: (67 / 16 * 1em);

  img {
    display: block;
    width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    max-width: none;
    float: left;
    padding-right: (5 / 16 * 1em);
    margin: (-7 / 16 * 1em) 0 (-20 / 16 * 1em) (-18 / 16 * 1em);
  }
}

.popup {
  display: none;

  &.popup_v2 {
    background: #fff;
    padding: (5 / 16 * 1em) (20 / 16 * 1em);
    border-radius: 0 0 (5 / 16 * 1em) (5 / 16 * 1em);

    p {
      margin-bottom: (25 / 16 * 1em);
    }

    @include respond-to-min($resp_step_2) {
      padding: (40 / 16 * 1em) (60 / 16 * 1em) (40 / 16 * 1em);
    }
  }

  &.popup_v3 {
    position: relative;
    background: #fff;
    padding: (5 / 16 * 1em) (20 / 16 * 1em);
    border-radius: 0 0 (5 / 16 * 1em) (5 / 16 * 1em);

    p {
      margin-bottom: (25 / 16 * 1em);
    }

    @include respond-to-min($resp_step_2) {
      padding: (4 / 16 * 1em) (27 / 16 * 1em) (10 / 16 * 1em);
    }
  }
}

.popup_auth_caption {
  letter-spacing: (2 / 16 * 1em);
  text-align: center;
  margin-bottom: (12 / 16 * 1em);
}

.popup_auth_tip {
  color: #9aa8be;
  font-size: (14 / 16 * 1em);
  text-align: center;
  margin-bottom: (-8 / 16 * 1em);
}

.off_review_container {
  position: relative;
  margin: (-10 / 16 * 1em) 0 (20 / 16 * 1em);
  height: (845 / 16 * 1em);
  box-shadow: 0 0 (4 / 16 * 1em) rgba(207, 207, 207, 0.76);

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: (50 / 16 * 1em);
    right: 10.5%;
    width: (238 / 16 * 1em);
    background: url(../i/review_pips.png) no-repeat 0 0;
    max-width: 50%;
  }

  &:before {
    content: '';
    position: absolute;
    top: (58 / 16 * 1em);
    left: 14.4%;
    width: (65 / 16 * 1em);
    height: (65 / 16 * 1em);
    background: url(../i/svg/logo.png) no-repeat 0 0;
  }

}

.off_review_caption {
  font-size: (20 / 16 * 1em);
  color: #9aa8be;
  font-weight: 300;
  margin-top: (-5 / 16 * 1em);
  margin-bottom: (12 / 16 * 1em);
}

.off_review_text {
  position: relative;
  z-index: 1;
}

.popup_video_wrapper {
  position: relative;
  height: 0;
  padding-bottom: 62.5%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

}

.popup_service_img {
  margin-bottom: (24 / 16 * 1em);
  padding-left: (10 / 16 * 1em);

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }
}

.service_list {
  list-style: none;
  margin-top: (-5 / 16 * 1em);

  li {
    margin-bottom: (23 / 16 * 1em);
  }
}

.popup_controls {
  @extend %clearfix;
  margin-left: (-47 / 16 * 1em);

  li {
    float: left;
    margin-bottom: (20 / 16 * 1em);
    padding-left: (47 / 16 * 1em);
  }
}

.about_features_w {
  margin: (20 / 16 * 1em) (-25 / 16 * 1em) 0;
  overflow: hidden;
  padding: (10 / 16 * 1em) 0 (25 / 16 * 1em);
  min-height: (245 / 16 * 1em);
  background: url(../i/about_city_mob.png) no-repeat 50% 100%;

  @include respond-to-min($resp_step_2) {
    padding: (50 / 16 * 1em) (60 / 16 * 1em) (25 / 16 * 1em);
    margin: (40 / 16 * 1em) (-40 / 16 * 1em) 0;
    min-height: (382 / 16 * 1em);
    background-image: url(../i/about_city.png);
  }
}

.about_features_list {
  position: relative;

  .slide {
    @include transition_all(transform .3s);
    padding: 0 (10 / 16 * 1em);
    float: left;
    margin-bottom: (21 / 16 * 1em);

    &.new_line {
      width: 0 !important;
      display: none;
    }

    &.slick-current {
      //@include transform_scale(1.1);
    }
  }

  @include respond-to-min($resp_step_2) {
    margin-right: -1%;

    .slide {
      width: 33%;
      padding: 0 (40 / 16 * 1em);
    }

  }
}

.feature_unit {
  background: #fff;
  box-shadow: 0 (4 / 16 * 1em) (8 / 16 * 1em) (1 / 16 * 1em) rgba(76, 175, 80, 0.17);
  border-radius: (100 / 16 * 1em);
  padding: (31 / 16 * 1em) (10 / 16 * 1em) (14 / 16 * 1em);
  height: (150 / 16 * 1em);
  position: relative;
  text-align: center;

  &:before {
    @include transform(rotate(40deg) skew(-15deg));
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: (-10 / 16 * 1em);
    width: (25 / 16 * 1em);
    margin-top: (-17 / 16 * 1em);
    height: (30 / 16 * 1em);
    background: #fff;
    box-shadow: (4 / 16 * 1em) (4 / 16 * 1em) (8 / 16 * 1em) (1 / 16 * 1em) rgba(76, 175, 80, 0.17);

  }

  @include respond-to-min($resp_step_2) {
    height: (144 / 16 * 1em);
    padding: (12 / 16 * 1em) (10 / 16 * 1em);
  }

}

.feature_counter {
  color: #4caf50;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  font-size: (27 / 16 * 1em);
  min-width: (140 / 27 * 1em);
  padding: (12 / 27 * 1em);
  border-bottom: (1 / 27 * 1em) solid #cad3db;

  @include respond-to-min($resp_step_2) {
    font-size: (30 / 16 * 1em);
    min-width: (140 / 30 * 1em);
    padding: (12 / 30 * 1em);
    border-bottom: (1 / 30 * 1em) solid #cad3db;
  }
}

.feature_name {
  position: relative;
  color: #4a5669;
  font-weight: 500;
  font-size: (14 / 16 * 1em);
  padding-top: (16 / 14 * 1em);
  letter-spacing: (-.15 / 14 * 1em);

  @include respond-to-min($resp_step_2) {
    font-size: (16 / 16 * 1em);
    padding-top: (16 / 16 * 1em);
    letter-spacing: (-.15 / 16 * 1em);
  }

}

