//************  buttons

.btn_v1 {
  height: (50 / 16 * 1em);

  &.more_btn {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: (15 / 16 * 1em);
    line-height: (20 / 16 * 1em);
    font-size: (14 / 16 * 1em);
    border-radius: (30 / 16 * 1em);
    font-weight: 500;
    margin-bottom: (40 / 16 * 1em);
    letter-spacing: (2 / 16 * 1em);
    min-width: (270 / 16 * 1em);

    @include respond-to-min($resp_step_2) {
      height: (60 / 16 * 1em);
      padding: (20 / 16 * 1em) (40 / 16 * 1em);
      font-size: (16 / 16 * 1em);
      margin-bottom: (60 / 16 * 1em);
    }
  }

  &.service_btn {
    border-radius: (30 / 16 * 1em);
    padding: (15 / 16 * 1em) (20 / 16 * 1em);
    display: inline-block;
    vertical-align: middle;
    letter-spacing: (2 / 16 * 1em);

    @include respond-to-min($resp_step_2) {
      height: (60 / 16 * 1em);
      padding: (20 / 16 * 1em) (40 / 16 * 1em);
    }
  }

  &.feedback_btn {
    display: block;
    width: 100%;
    font: 500 (14 / 16 * 1em) $Roboto;
    letter-spacing: (2 / 14 * 1em);
    border-radius: (30 / 14 * 1em);
    padding: (15 / 14 * 1em) (40 / 14 * 1em);
    line-height: (20 / 14 * 1em);
    height: (50 / 14 * 1em);

    @include respond-to-min($resp_step_2) {
      height: (60 / 16 * 1em);
      font-size: (16 / 16 * 1em);
      line-height: (20 / 16 * 1em);
      letter-spacing: (2 / 16 * 1em);
      padding: (20 / 16 * 1em) (40 / 16 * 1em);
    }
  }

  &.map_switch_btn {
    @include transition_all(background .3s);
    position: relative;
    float: left;
    width: 50%;
    font-size: (12 / 16 * 1em);
    font-weight: 500;
    height: (50 / 12 * 1em);
    line-height: (20 / 12 * 1em);
    padding: (15 / 12 * 1em) (10 / 12 * 1em);
    text-align: center;
    background: #7b7b7b;
    color: #fff;

    &.office_current {
      @extend .btn_red;

      //background: rgb(244, 107, 101);
      //background: -moz-linear-gradient(top, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 1) 100%);
      //background: -webkit-linear-gradient(top, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 1) 100%);
      //background: linear-gradient(to bottom, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 1) 100%);
      //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f46b65', endColorstr='#e7423e', GradientType=0);
      //box-shadow: 0 (5 / 16 * 1em)  (15 / 16 * 1em)  0 rgba(90, 28, 27, 0.23);

      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: (-20 / 16 * 1em);
        border-left: (20 / 16 * 1em) solid transparent;
        border-right: (20 / 16 * 1em) solid transparent;
        border-top: (15 / 16 * 1em) solid #e7423e;
      }

      /* Combined Shape: */
      //background-image: linear-gradient(-180deg, #f46b65 0%, #e7423e 100%);

    }
  }

  &.review_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: (30 / 16 * 1em);
    position: relative;
    font-size: (14 / 16 * 1em);
    line-height: (38 / 16 * 1em);
    letter-spacing: (2 / 16 * 1em);
    text-align: center;
    padding: (5 / 16 * 1em) (20 / 16 * 1em);

    span {
      display: inline-block;
      vertical-align: middle;
    }

    .review_btn_icon {
      font-size: (22 / 16 * 1em);
      margin-right: (6 / 22 * 1em);
    }

    @include respond-to-min($resp_step_2) {
      height: (60 / 16 * 1em);
      font-size: (16 / 16 * 1em);
      line-height: (40 / 16 * 1em);
      float: left;
      padding: (10 / 16 * 1em) (34 / 16 * 1em) (10 / 16 * 1em) (38 / 16 * 1em);
      margin-bottom: (20 / 16 * 1em);

      .review_btn_icon {
        font-size: (32 / 16 * 1em);
        margin-right: (16 / 32 * 1em);
      }
    }
  }

  &.callback_btn {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 500;
    font-size: (14 / 16 * 1em);
    line-height: (18 / 14 * 1em);
    border-radius: (30 / 14 * 1em);
    padding: (16 / 14 * 1em);
    letter-spacing: (.15 / 14 * 1em);
    height: (50 / 14 * 1em);

    span {
      display: inline-block;
      vertical-align: middle;
    }

    .i-phone {
      font-size: (22 / 16 * 1em);
      margin: (-4 / 16 * 1em) (5 / 16 * 1em) 0;
    }

    @include respond-to-min($resp_step_2) {
      height: (50 / 16 * 1em);
      line-height: (18 / 16 * 1em);
      border-radius: (30 / 16 * 1em);
      padding: (16 / 16 * 1em);
      letter-spacing: (.15 / 16 * 1em);
      
      .popup_controls & {
        height: (60 / 16 * 1em);
        padding: (21 / 16 * 1em) (26 / 16 * 1em);
        font-size: (16 / 16 * 1em);
      }
    }

    @include respond-to-min($resp_step_2  + $add_step) {
      font-size: (16 / 16 * 1em);
      padding: (16 / 16 * 1em) (26 / 16 * 1em);
    }
  }

  &.about_callback_btn {
    display: inline-block;
    vertical-align: top;
    width: (270 / 16 * 1em);
    padding: (15 / 16 * 1em);
    font-weight: 500;
    font-size: (14 / 16 * 1em);
    line-height: (20 / 16 * 1em);
    border-radius: (30 / 16 * 1em);
    letter-spacing: (1 / 16 * 1em);
    margin-top: (15 / 16 * 1em);
    margin-bottom: (-10 / 16 * 1em);

    @include respond-to-min($resp_step_2) {
      height: (60 / 16 * 1em);
      padding: (20 / 16 * 1em);
      margin: 0;
      font-size: (16 / 16 * 1em);
      letter-spacing: (2 / 16 * 1em);
    }
  }
}

.btn_v2 {
  height: (60 / 16 * 1em);

  &.calc_step_link {
    display: inline-block;
    vertical-align: top;
    border-radius: (30 / 16 * 1em);
    font-weight: 500;
    padding: (20 / 16 * 1em) (40 / 16 * 1em);
    line-height: (20 / 16 * 1em);
    font-size: (16 / 16 * 1em);
    letter-spacing: (1 / 16 * 1em);

    &.wide {
      min-width: (274 / 16 * 1em);
    }
  }

  &.calc_add_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: (30 / 16 * 1em);
    font-weight: 500;
    padding: (20 / 16 * 1em) (48 / 16 * 1em);
    line-height: (20 / 16 * 1em);
    font-size: (16 / 16 * 1em);
    letter-spacing: (2 / 16 * 1em);
  }

  &.auth_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: (30 / 16 * 1em);
    font-weight: 500;
    padding: (20 / 16 * 1em) (40 / 16 * 1em);
    line-height: (20 / 16 * 1em);
    font-size: (16 / 16 * 1em);
    letter-spacing: (1 / 16 * 1em);
    margin-top: (5 / 16 * 1em);
  }

  &.service_calc_btn {
    cursor: pointer;
    display: block;
    border-radius: (30 / 16 * 1em);
    padding: (10 / 16 * 1em) (5 / 16 * 1em) (5 / 16 * 1em) (57 / 16 * 1em);
    color: #fff;
    position: relative;

    div {
      color: #4caf50;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: (2 / 16 * 1em);
    }

    p {
      font-size: (14 / 16 * 1em);
      color: #cad3db;
    }

    .i-calculator {
      position: absolute;
      top: 50%;
      left: (5 / 16 * 1em);
      height: (40 / 16 * 1em);
      line-height: (40 / 16 * 1em);
      margin-top: (-20 / 16 * 1em);
      color: $at;
      font-size: (36 / 16 * 1em);
    }
  }

  &.service_btn {
    cursor: pointer;
    display: block;
    line-height: (20 / 16 * 1em);
    border-radius: (30 / 16 * 1em);
    padding: (20 / 16 * 1em) (26 / 16 * 1em);
    font-weight: 500;
    letter-spacing: (2 / 16 * 1em);
    color: #fff;

    .service_tab_ph & {

    }

    .service_tab_ic & {

    }

    .service_tab_at & {

    }

    @include respond-to-min($resp_step_2) {
      padding: (20 / 16 * 1em) (40 / 16 * 1em);
    }
  }
}

.btn_white_blue_3 {
  @include transition_all(box-shadow .3s);
  color: #1676cb;
  background: #fff;
  box-shadow: 0 (5 / 16 * 1em) (15 / 16 * 1em) rgba(43, 92, 136, 0.17);

  &:hover {
    box-shadow: 0 (4 / 16 * 1em) (8 / 16 * 1em) rgba(42, 92, 136, 0.40);
  }

  &:active {
    box-shadow: 0 (2 / 16 * 1em) (4 / 16 * 1em) rgba(43, 92, 136, 0.50);
  }
}

.btn_white_blue_2 {
  @include transition_all(box-shadow .3s);
  color: #126cbb;
  background: #fff;
  box-shadow: 0 (5 / 16 * 1em) (15 / 16 * 1em) rgba(43, 92, 136, 0.17);

  &:hover {
    box-shadow: 0 (4 / 16 * 1em) (8 / 16 * 1em) rgba(42, 92, 136, 0.40);
  }

  &:active {
    box-shadow: 0 (2 / 16 * 1em) (4 / 16 * 1em) rgba(43, 92, 136, 0.50);
  }
}

.btn_white_blue {
  @include transition_all(box-shadow .3s);
  color: #1d87e4;
  background: #fff;
  box-shadow: 0 (5 / 16 * 1em) (15 / 16 * 1em) rgba(43, 92, 136, 0.17);

  &:hover {
    box-shadow: 0 (4 / 16 * 1em) (8 / 16 * 1em) rgba(42, 92, 136, 0.40);
  }

  &:active {
    box-shadow: 0 (2 / 16 * 1em) (4 / 16 * 1em) rgba(43, 92, 136, 0.50);
  }
}

.btn_white_green {
  @include transition_all(box-shadow .3s);
  color: #4caf50;
  background: #fff;
  //box-shadow: 0 (5 / 16 * 1em)  (15 / 16 * 1em)  rgba(43, 93, 136, .17);
  box-shadow: 0 (5 / 16 * 1em) (15 / 16 * 1em) rgba(18, 36, 53, .23);

  &:hover {
    box-shadow: 0 (4 / 16 * 1em) (8 / 16 * 1em) rgba(17, 36, 53, 0.40);
  }

  &:active {
    box-shadow: 0 (2 / 16 * 1em) (4 / 16 * 1em) rgba(18, 36, 53, 0.50);
  }
}

.btn_green {
  @include transition_all(box-shadow .3s);
  color: #fff;
  background: #7ecd81;
  background: -moz-linear-gradient(top, #7ecd81 0%, #4caf50 100%);
  background: -webkit-linear-gradient(top, #7ecd81 0%, #4caf50 100%);
  background: linear-gradient(to bottom, #7ecd81 0%, #4caf50 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ecd81', endColorstr='#4caf50', GradientType=0);

  //background-image: linear-gradient(-180deg, #7ecd81 0%, #4caf50 100%);
  box-shadow: 0 (5 / 16 * 1em) (15 / 16 * 1em) rgba(76, 175, 80, 0.29);

  &:hover {
    box-shadow: 0 (4 / 16 * 1em) (8 / 16 * 1em) rgba(75, 175, 80, 0.40);
  }

  &:active {
    box-shadow: 0 (2 / 16 * 1em) (4 / 16 * 1em) rgba(76, 175, 80, 0.50);
  }
}

.btn_blue {
  @include transition_all(box-shadow .3s);
  color: #fff;

  background: #61a4df;
  background: -moz-linear-gradient(top, #61a4df 0%, #1d87e4 100%);
  background: -webkit-linear-gradient(top, #61a4df 0%, #1d87e4 100%);
  background: linear-gradient(to bottom, #61a4df 0%, #1d87e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61a4df', endColorstr='#1d87e4', GradientType=0);

  //background-image: linear-gradient(-180deg, #61a4df 0%, #1d87e4 100%);
  box-shadow: 0 (5 / 16 * 1em) (15 / 16 * 1em) rgba(18, 36, 52, 0.23);

  &:hover {
    box-shadow: 0 (4 / 16 * 1em) (8 / 16 * 1em) rgba(17, 36, 52, 0.40);
  }

  &:active {
    box-shadow: 0 (2 / 16 * 1em) (4 / 16 * 1em) rgba(18, 36, 52, 0.50);
  }

}

.btn_red {
  @include transition_all(box-shadow .3s);
  color: #fff;
  background: #e7423e;
  background: -moz-linear-gradient(top, #f46b65 0%, #e7423e 100%);
  background: -webkit-linear-gradient(top, #f46b65 0%, #e7423e 100%);
  background: linear-gradient(to bottom, #f46b65 0%, #e7423e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f46b65', endColorstr='#e7423e', GradientType=0);

  //background-image: linear-gradient(-180deg, #f46b65 0%, #e7423e 100%);

  box-shadow: 0 (5 / 16 * 1em) (15 / 16 * 1em) rgba(90, 28, 27, .23);

  &:hover {
    box-shadow: 0 (4 / 16 * 1em) (8 / 16 * 1em) rgba(89, 28, 27, 0.40);
  }

  &:active {
    box-shadow: 0 (2 / 16 * 1em) (4 / 16 * 1em) rgba(90, 28, 27, 0.50);
  }
}

