
.footer {
  min-height: (255 / 16 * 1em);
  padding-top: (40 / 16 * 1em);
  background: url(../i/footer_bg.jpg) no-repeat 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;

  @include respond-to-min($resp_step_2) {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: (58 / 16 * 1em);

    .section_inner {
      position: relative;
      padding: 0 (85 / 16 * 1em);
      //max-width: $content-max-w - 170;
    }
  }
}

.footer_logo_holder {
  text-align: center;
  margin-bottom: (15 / 16 * 1em);

  @include respond-to-min($resp_step_2) {
    margin-bottom: 0;
    float: left;
    text-align: left;
    min-width: (200 / 16 * 1em);
    padding-left: (8 / 16 * 1em);
  }

  @include respond-to-min($resp_step_2 + 200) {
    //min-width: (230 / 16 * 1em);
    min-width: 15em;
  }
}

.copyright {
  //padding-top: (5 / 16 * 1em);
  line-height: (25 / 16 * 1em);
  color: #fff;
  color: rgba(255, 255, 255, .49);

  span {
    font-size: (12 / 16 * 1em);
    letter-spacing: .1em;
  }
  
  @include respond-to-min($resp_step_2) {
    position: absolute;
    top: (60 / 16 * 1em);
    left: (83 / 16 * 1em);
    padding-top: (30 / 16 * 1em);
    padding-left: (10 / 16 * 1em);
    letter-spacing: 0;

    span {
      font-size: (14 / 16 * 1em);
    }
  }
}

.footer_callback_block {

  .callback_block {
    float: none;
  }
  
  @include respond-to-min($resp_step_2) {
    float: right;
    text-align: right;
    padding-right: (27 / 16 * 1em);
    min-width: (230 / 16 * 1em);
  }
}

.footer_dev_link {
  //margin-top: (10 / 16 * 1em);
  //margin-bottom: (50 / 16 * 1em);
  white-space: nowrap;
  display: table;
  margin: (10 / 16 * 1em) auto (50 / 16 * 1em);
  text-align: center;
  text-decoration: none;

  > span {
    color: #c9c9c9;
    font-size: (10 / 16 * 1em);
    display: table-header-group;

    &:first-child {
      display: table-footer-group;
    }

    @include respond-to-min($resp_step_2) {
      display: inline-block !important;
      vertical-align: middle;
      padding-left: (5 / 16 * 1em);
    }
  }

  img {
    display: inline-block;
    vertical-align: top;
  }

  @include respond-to-min($resp_step_2) {
    display: block;
    float: right;
    text-align: right;
    margin: (40 / 16 * 1em) 0 0;
  }
}

.footer_dev_block {
  @extend %clearfix;
}

.footer_menu_col {

  @include respond-to-min($resp_step_2) {
    display: inline-block;
    vertical-align: top;
    min-width: (195 / 16 * 1em);
    //margin-left: (10 / 16 * 1em);
    margin-left: .8em;
    text-align: left;
  }

}

.footer_menu_caption {
  font-size: (14 / 16 * 1em);
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  //letter-spacing: (1.5 / 14 * 1em);
  letter-spacing: .125em;
  margin-bottom: (15 / 14 * 1em);
}

.footer_menu {
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: (5 / 16 * 1em);
    padding: 0 (15 / 16 * 1em);

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: (-2 / 16 * 1em);
      border-radius: 100%;
      width: (4 / 16 * 1em);
      height: (4 / 16 * 1em);
      margin-top: (-2 / 16 * 1em);
      background: #fff;
    }

    &.no_dot,
    &:first-child {
      &:before {
        display: none;
      }
    }
  }

  @include respond-to-min($resp_step_2) {
    text-align: left;

    li {
      display: block;
      padding: 0;
      //margin-bottom: (10 / 16 * 1em);
      margin-bottom: .675em;

      &:before {
        display: none;
      }
    }
  }

}

.f_menu_link {
  color: #cad3db;
  font-size: (14 / 16 * 1em);

  &:hover {
    color: #fff;
  }

}

$rectWidth: $content-max-w;

.rect_1024 {
  @extend %hor_centr;
  position: absolute;
  width: $rectWidth;
  max-width: 100%;
  top: 0;
  bottom: 0;
  border: solid red;
  border-width: 0 (1 / 16 * 1em);
  z-index: 10;
  pointer-events: none;

  &:after {
    @extend %hor_centr;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: (1 / 16 * 1em);
    background: red;
  }
}

#chromeperfectpixel-panel {
  top: (40 / 16 * 1em) !important;
  left: 0 !important;
}