.f_label_v1 {
  font-size: (14 / 16 * 1em);
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  margin-bottom: (5 / 16 * 1em);

  @include respond-to-min($resp_step_2) {
    font-size: (15 / 16 * 1em);
    margin-bottom: (10 / 16 * 1em);
  }

}

.input_tip {
  position: absolute;
  top: 0;
  width: 100%;
  left: 100%;
  margin-left: (20 / 16 * 1em);
  color: #4a5669;
  font-size: (14 / 16 * 1em);
  line-height: (22 / 16 * 1em);
}

.input_w {
  position: relative;

  &.increase_box {

    input {
      text-align: center;
      padding-left: (64 / 16 * 1em) !important;
      padding-right: (64 / 16 * 1em) !important;
    }
  }
}

%input_v1 {
  @include transition_all(border-color .3s);
  color: $default_t_color;
  font: (16 / 16 * 1em) /(18 / 16 * 1em) $Roboto;
  border-radius: (5 / 16 * 1em);
  padding: (15 / 16 * 1em) (20 / 16 * 1em);
  border: (1 / 16 * 1em) solid #e7e9eb;
  //border: (1 / 16 * 1em)  solid transparentize(#e7e9eb, .31);
  box-shadow: inset 0 (2 / 16 * 1em) (25 / 16 * 1em) #eee;
}

.f_label_tip {
  color: #cad3db;
}

.f_input {
  display: block;
  width: 100%;

  &.f_input_v2 {
    height: (50 / 16 * 1em);
    border-radius: (5 / 16 * 1em);
    padding: (15 / 16 * 1em) (25 / 16 * 1em);
    color: #fff;
    font: 500 (16 / 16 * 1em) /(20 / 16 * 1em) $Roboto;
    letter-spacing: (1.7 / 16 * 1em);
    //background: #195c9b;
    //opacity: .69;
    background: transparentize(#195c9b, .31);
    box-shadow: (1 / 16 * 1em) (1 / 16 * 1em) rgba(255, 255, 255, 0.21), 0 (2 / 16 * 1em) (15 / 16 * 1em) rgba(22, 86, 141, 0.57), inset 0 (2 / 16 * 1em) (25 / 16 * 1em) #10416c;

    &::-moz-placeholder {
      color: #fff;
    }

    &::-webkit-input-placeholder {
      color: #fff;
    }

    @include respond-to-min($resp_step_2) {
      height: (60 / 16 * 1em);
      padding: (20 / 16 * 1em) (25 / 16 * 1em);
    }
  }

  &.f_input_v1 {
    @extend %input_v1;

    &:focus {
      border-color: #1d87e4;
    }

    @at-root div#{&} {
      height: (50 / 16 * 1em) ;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @at-root input#{&} {
      height: (50 / 16 * 1em) ;
    }

    @at-root textarea#{&} {
      height: (105 / 16 * 1em) ;
      line-height: (24 / 16 * 1em) ;

      @include respond-to-min($resp_step_2) {
        height: (190 / 16 * 1em);
      }

      &.autoSize {
        height: auto;
      }
    }
  }
}

.form_cell {
  position: relative;

  &.form_cell_v2 {
    margin: (28 / 16 * 1em) 0 (-10 / 16 * 1em);
  }

  &.form_cell_v1 {
    margin-top: (19 / 16 * 1em);

    &:first-child {
      margin-top: (13 / 16 * 1em);
    }

    @include respond-to-min($resp_step_2) {
      margin-bottom: (22 / 16 * 1em);

      &:first-child {
        margin-top: (22 / 16 * 1em);
      }
    }
  }

  &.form_el_v1 {
    @extend %clearfix;
    line-height: (60 / 16 * 1em);
    //margin-left: (-70 / 16 * 1em) ;
    margin-top: (20 / 16 * 1em);

    @include respond-to-min($resp_step_2) {
      margin-top: (12 / 16 * 1em);

      .form_el {
        float: left;

        + .form_el {
          float: right;
        }
      }
    }
  }
}

.form_tip {
  color: #cad3db;
}

.check_emul_v1 {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.45;

  .check_text {
    @extend %icon_pseudo;
    display: block;
    position: relative;
    padding-left: (40 / 16 * 1em);

    &:after {
      @extend .btn_red;
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: (20 / 16 * 1em);
      height: (20 / 16 * 1em);
      border-radius: (5 / 16 * 1em);
      margin-top: (-10 / 16 * 1em);
      z-index: 1;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      //width: (30 / 16 * 1em);
      //height: (30 / 16 * 1em);
      font-size: (26 / 16 * 1em);
      line-height: 1.15;
      margin-top: (-18 * 1em) / 26;
      width: (30  * 1em) / 26;
      height: (30  * 1em) / 26;
      color: #fff;
      text-align: center;
      text-shadow: 0 (1em / 26) (2em / 26) rgba(106, 40, 38, .3);
      z-index: 2;
    }
  }

  .inp_hidden:checked ~ .check_text {

    &:before {
      content: $i-check;
    }
  }

  .check_blue & {
    .check_text {
      &:after {
        @extend .btn_blue;
      }
    }
  }
}

.inp_hidden {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: (-10 / 16 * 1em);
  display: none;
}

.attach_link {
  @include transition_all(color .3s);
  @extend %icon_pseudo;
  display: inline-block;
  vertical-align: top;
  margin-top: (15 / 16 * 1em);
  position: relative;
  //color: #1d87e4;
  font: (16 / 16 * 1em) $Roboto;
  padding-left: (26 / 16 * 1em);
  cursor: pointer;

  &:before {
    content: $i-attach;
    font-size: (20 / 16 * 1em);
    position: absolute;
    height: (24 / 20 * 1em);
    margin-top: (-12 / 20 * 1em);
    top: 50%;
    left: 0;
  }
}

.rm_link {
  @include transition_all(color .3s);
  @extend %icon_pseudo;
  display: inline-block;
  vertical-align: top;
  margin-top: (15 / 16 * 1em);
  position: relative;
  //color: #e53935;
  font: (16 / 16 * 1em) $Roboto;
  padding-left: (26 / 16 * 1em);
  cursor: pointer;

  &:before {
    content: $i-trash-can;
    font-size: (20 / 16 * 1em);
    position: absolute;
    height: (24 / 20 * 1em);
    margin-top: (-12 / 20 * 1em);
    top: 50%;
    left: 0;
  }
}

.input_place_holder {
  color: #cad3db;
}

.input_file_val {
  @extend %icon_pseudo;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: (20 / 16 * 1em);
  color: #1d87e4;

  &:before {
    content: $i-document;
    position: absolute;
    top: 50%;
    margin-top: (-10 / 16 * 1em);
    height: (20 / 16 * 1em);
    left: 0;
    font-size: (16 / 16 * 1em);
    line-height: (20 / 16 * 1em);
  }
}


