//*************************** header

.header {
  @include transition_all(background .3s);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  line-height: 20px;
  text-align: center;
  z-index: 5;
  min-height: 50px;

  .section_inner {
    padding: 0 25px;
    max-width: none;
  }

  .header_overlay & {
    background: rgba(0, 0, 0, .4);

    @include respond-to-min($resp_step_2) {
      background: #fff;
    }
  }

  @include respond-to-min($resp_step_2) {
    line-height: 100px;
    height: 101px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(8, 52, 91, 0.13);
  }
}

.logo_block {

  @include respond-to-min($resp_step_2) {
    display: inline-block;
    vertical-align: top;
    padding: 0 10% 0 3.5%;
  }

  @include respond-to-min($resp_step_2  + $add_step) {
    padding: 0 20% 0 3.5%;
  }
}

.logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  img {
    display: block;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    //margin: 0 60px 0 10px;
  }
}

.header_l_col {
  text-align: center;
  padding-bottom: 30px;

  @include respond-to-min($resp_step_2) {
    float: left;
    white-space: nowrap;
    padding-bottom: 0;
    //min-width: 300px;
    min-width: 21.6%;
    text-align: left;
  }

}

.header_r_col {
  display: none;

  @include respond-to-min($resp_step_2) {
    display: block;
    float: right;
  }

  @include respond-to-min($resp_step_2  + $add_step) {
    min-width: 21.6%;
  }

}

.lang_switcher_w {
  display: none;
  position: relative;

  .ui-selectmenu-menu {
    position: absolute;
    line-height: normal;

    .ui-menu {
      border-radius: 0 0 25px 25px;
      border: 1px solid #eff0f2;
      margin-top: -1px;
      overflow: hidden;
      background: #fff;
      text-align: left;
    }

    .ui-menu-item {
      @include transition_all(color .3s);
      padding: 10px 17px;

      &:hover {
        //background: #eff0f2;
        color: #1d87e4;
      }

      &.selected {
        display: none;
      }
    }
  }

  .ui-selectmenu-button {
    @extend %icon_pseudo;
    position: relative;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    height: 50px;
    padding: 15px 33px 15px 17px;
    //border: 1px solid #eff0f2;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;

    background: #fff;
    border: 1px solid #e7e9eb;
    border: 1px solid transparentize(#e7e9eb, .31);
    box-shadow: inset 0 2px 25px transparentize(#eee, .31);

    &:before {
      content: $i-chevron-down;
      position: absolute;
      height: 18px;
      right: 18px;
      margin-top: -6px;
      top: 50%;
      font-size: 12px;
    }

    &.ui-corner-top {
      border-radius: 25px 25px 0 0;

      &:before {
        content: $i-chevron-up;
      }
    }

    .ui-icon {
      margin-right: 8px;
      display: inline-block;
      vertical-align: middle;

    }

    @include respond-to-min($resp_step_2  + $add_step) {
      font-size: 16px;
    }

  }

  @include respond-to-min($resp_step_2) {
    display: inline-block;
    vertical-align: top;
  }

}

.lang_item {
  white-space: nowrap;
  line-height: 20px;
  cursor: pointer;
}

.lang_flag {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.lang_label {
  display: inline-block;
  vertical-align: middle;

}

.callback_block {
  position: relative;
  float: right;

  .ui-dialog {
    left: auto !important;
    right: 0 !important;
    line-height: normal;
    box-shadow: 0 5px 15px rgba(21, 38, 48, 0.13);
    border-radius: 5px;
    text-align: left;
    max-width: none;

    @include respond-to-max(460px) {
      max-width: 300px;
    }
  }

  .header & {
    .ui-dialog {
      top: 100% !important;
      margin-top: -4px;
    }

    .ui-dialog-titlebar {
      &:before {
        @include transform(rotate(40deg) skew(-15deg));
        content: '';
        position: absolute;
        right: 80px;
        width: 25px;
        height: 25px;
        background: #fff;
        bottom: 100%;
        margin-bottom: -14px;
        box-shadow: 0 0 10px rgba(21, 38, 48, 0.07);
      }
    }
  }

  .footer & {
    .ui-dialog {
      top: auto !important;
      bottom: 100%;
      margin-bottom: 20px;
    }

    .popup_v3 {
      &:before {
        @include transform(rotate(40deg) skew(-15deg));
        content: '';
        position: absolute;
        right: 80px;
        width: 25px;
        height: 25px;
        background: #fff;
        top: 100%;
        margin-top: -14px;
        box-shadow: 0 0 -10px rgba(21, 38, 48, 0.07);
      }
    }
  }

  .ui-dialog-title {
    width: 100%;
    display: block;
    position: relative;
    background: #fff;
  }
}

// *********  menu

.mob_menu {
  position: fixed;
  top: 20px;
  right: 10px;
  width: 40px;
  height: 34px;
  z-index: 1;
  cursor: pointer;

  .header_overlay & {
    top: 8px;
  }

  span,
  &:after,
  &:before {
    @include transition_all(background .3s, transform .3s, width .3s, top .3s);
    content: '';
    position: absolute;
    left: 10px;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
  }

  &:before {
    @include transform-origin(0 0);
    top: 10px;
  }

  &:after {
    @include transform-origin(0 100%);
    bottom: 10px;
  }

  span {
    top: 50%;
    margin-top: -1px;
  }

  .menu_open & {
    span {
      @include transform_scale(0);
    }

    &:after,
    &:before {
      background: #000;
      width: 18px;
    }

    &:after {
      @include transform(translate(2px, 0) rotate(-45deg));
    }

    &:before {
      @include transform(translate(2px, 0) rotate(45deg));
    }
  }

  @include respond-to-min($resp_step_2) {
    display: none;
  }
}

.main_menu_w {
  @include transition_all(transform .3s);
  @include transform_translate(100%, 0);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  overflow-y: auto;

  .menu_open & {
    @include transform_translate(0, 0);
  }

  @include respond-to-min($resp_step_2) {
    @include transition_all(none);
    @include transform_translate(0, 0);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: initial;
    right: initial;
    bottom: initial;
    overflow: visible;
  }
}

.main_menu {
  @extend %clearfix;
  position: relative;
  padding: 42px 15px;

  @include respond-to-min($resp_step_2) {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
  }
}

.menu_item {
  display: block;
  position: relative;

  &.sub_menu_mod {

    &:hover {
      > .menu_link {
        font-weight: 300;
      }

      .header_sub_menu_holder {
        display: block;
      }
    }
  }

  @include respond-to-min($resp_step_2) {
    float: left;
    margin: 0 12px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -12px;
      border-radius: 100%;
      width: 4px;
      height: 4px;
      margin-top: -2px;
      background: #c4d5e5;
    }

    &:first-child {
      &:before {
        display: none;
      }
    }
  }

  @include respond-to-min($resp_step_2  + $add_step) {
    margin: 0 18px;

    &:before {
      left: -18px;
    }
  }
}

.sub_menu_icon {
  display: none;
  line-height: 85px;

  img,
  svg {
    display: inline-block;
    vertical-align: middle;
    max-width: 80px;
  }

  @include respond-to-min($resp_step_2) {
    display: block;
  }
}

.sub_menu_text {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.link_text {
  @extend %icon_pseudo;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 12px 5px;

  &:before {
    @include transition_all(background .3s);
    content: '';
    position: absolute;
    bottom: 4px;
    right: 0;
    left: 0;
    height: 2px;
  }

  .sub_menu_mod & {
    padding-right: 15px;

    &:after {
      content: $i-chevron-down;
      position: absolute;
      right: 0;
      top: 50%;
      height: 20px;
      margin-top: -10px;
      font-size: 12px;
      line-height: 20px;
    }
  }

  .sub_menu_mod:hover & {
    &:after {
      content: $i-chevron-up;
    }
  }

  @include respond-to-min($resp_step_2) {
    padding: 0 4px;
    display: block;

    &:before {
      bottom: 0;
      height: 4px;
    }
  }

}

.menu_link {
  cursor: pointer;
  position: relative;
  display: block;
  text-decoration: none;
  color: $default_t_color;

  &:hover {
    color: #e7423e;
  }

  .active > & {
    cursor: default;
    color: #e7423e;

    .link_text:before {
      background: #fe0036;
    }
  }

  @include respond-to-min($resp_step_2) {
    font-size: 16px;
    padding: 0;
  }

  @include respond-to-min($resp_step_2  + $add_step) {
    font-size: 18px;
    padding: 0;
  }

}

.header_sub_menu_holder {
  position: relative;
  display: none;
  text-align: center;
  margin-top: -12px;

  @include respond-to-min($resp_step_2) {
    margin-top: -25px;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 1px;
  }
}

#triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}

.header_sub_menu_w {

  @include respond-to-min($resp_step_2) {
    display: inline-block;
    vertical-align: top;
    margin: 0 -300px;
    width: 600px;
    border-radius: 5px;
    background: #fff;
    position: relative;
    box-shadow: 0 5px 15px rgba(22, 39, 49, 0.13);

    &:before {
      content: '';
      position: absolute;
      bottom: 100%;
      margin-bottom: -1px;
      left: 50%;
      margin-left: -17px;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      border-bottom: 10px solid #fff;
    }

  }
}

.header_sub_menu {
  @extend %clearfix;

  > li {
    display: block;
    margin: 14px 0;

    .menu_link {
      line-height: 20px;
      padding: 5px;
      font-size: 14px;
      letter-spacing: .05px;
    }
  }

  @include respond-to-min($resp_step_2) {
    //margin-top: -30px;
    //position: absolute;
    //top: 100%;
    //right: 0;
    //text-align: left;
    //min-width: 100%;
    //box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    /* Combined Shape: */

    margin-right: -1%;

    > li {
      float: left;
      position: relative;
      width: 33%;
      margin: 0;

      .menu_link {
        padding: 20px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 0;
        width: 1px;
        background: #cad3db;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
}