.main_banner {
  position: relative;
  text-align: center;

  > img {
    display: inline-block;
    vertical-align: top;
    //max-width: 100%;
    width: 100%;
    min-height: 270px;
  }

  .section_inner {
    //max-width: $content-max-w - 200;
  }
}

.abs_holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;

  .main_banner & {
    padding-bottom: 110px;
  }

}

.gl_table {
  display: table;
  width: 100%;
  height: 100%;
}

.gl_table_cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.banner_content {
  @extend %clearfix;
  text-align: center;
  margin-top: 28px;
  display: table;
  width: 100%;

  @include respond-to-min($resp_step_2) {
    text-align: left;
    margin-top: 0;
    display: block;
  }
}

.banner_text {
  color: #fff;

  p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  }

  @include respond-to-min($resp_step_2) {

    p {
      margin-top: 7px;
    }
  }

  @include respond-to-min($resp_step_2  + $add_step) {

    p {
      font-size: 30px;
    }
  }
}

.banner_title {
  font-size: 27px;
  font-weight: 500;
  margin: 8px 0 15px;

  @include respond-to-min($resp_step_2) {
    font-size: 40px;
    margin: 0 0 7px;
  }

  @include respond-to-min($resp_step_2  + $add_step) {
    font-size: 50px;
  }

}

.banner_video_block {
  text-align: center;
  display: table-footer-group;

  @include respond-to-min($resp_step_2) {
    position: relative;
    float: right;
    display: block;
    padding: 0 8.5%;
  }

}

.banner_mob_top {
  display: table-header-group;

  @include respond-to-min($resp_step_2) {
    display: block;
  }
}

.banner_play_btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  border-radius: 100%;
  background: #fff;
  width: 40px;
  height: 40px;
  box-shadow: 0 5px 15px rgba(45, 61, 74, 0.47);

  img,
  svg {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -3px;
    width: 11px;
    //border-top: 7px solid transparent;
    //border-bottom: 7px solid transparent;
    //border-left: 11px solid #00c04a;
  }

  @include respond-to-min($resp_step_2) {
    width: 190px;
    height: 190px;
    margin: -25px 0 20px;
    display: block;

    img,
    svg {
      margin: -31px 0 0 -15px;
      //border-top: 30px solid transparent;
      //border-bottom: 30px solid transparent;
      //border-left: 45px solid #00c04a;
      width: 45px;
    }
  }
}

.banner_video_tip {
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  border-radius: 22px;
  color: #fff;
  background: rgba(0, 0, 0, .46);
}

.mob_phone {
  position: absolute;
  bottom: 100%;
  right: 10px;
  margin-bottom: 10px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  background: rgb(126, 205, 129);
  background: -moz-linear-gradient(top, rgba(126, 205, 129, 1) 0%, rgba(76, 175, 80, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(126, 205, 129, 1) 0%, rgba(76, 175, 80, 1) 100%);
  background: linear-gradient(to bottom, rgba(126, 205, 129, 1) 0%, rgba(76, 175, 80, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ecd81', endColorstr='#4caf50', GradientType=0);

  /* Oval 59: */
  //background-image: linear-gradient(-180deg, #7ecd81 0%, #4caf50 100%);
  box-shadow: 0 5px 15px 0 rgba(76, 175, 80, 0.29);

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 22px;
    line-height: 40px;
  }

  @include respond-to-min($resp_step_2) {
    display: none;
  }
}

.service_tabs_holder {
  @include transition_all(transform .3s);
  @include transform_translate(0, 100%);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;

  //box-shadow: 0 -1px 3px rgba(238, 89, 84, .12);

  .section_inner {
    padding: 0;
  }

  .open_tabs & {
    @include transform_translate(0, 0);
  }

  @include respond-to-min($resp_step_2) {
    @include transform_translate(0, 0);
    position: absolute;
    bottom: -70px;
    right: 0;
    left: 0;

    .section_inner {
      padding: 0 100px;
    }
  }

}

.service_tabs {
  position: relative;
  margin-right: -1%;

  @include respond-to-min($resp_step_2) {
    margin-left: -20px;
  }

}

.service_item {
  position: relative;
  float: left;
  width: 33%;

  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    height: 1px;
    width: 5000px;
    left: 50%;
    margin-left: -2500px;
    margin-bottom: -1px;
    display: none;
  }

  &.service_item_ph:before {
    box-shadow: 0 -1px 3px rgba(18, 36, 52, 0.23);
  }

  &.service_item_ic:before {
    box-shadow: 0 -1px 3px rgba(90, 28, 27, 0.23);
  }

  &.service_item_at:before {
    box-shadow: 0 -1px 3px rgba(76, 175, 80, 0.29);
  }

  &.ui-state-active {
    &:before {
      display: block;
    }
  }

  @include respond-to-min($resp_step_2) {
    padding-left: 20px;

    &:before {
      display: none !important;
    }
  }
}

.service_link {
  @include transition_all(color .3s);
  display: block;
  position: relative;
  color: $default_t_color;
  font-weight: 500;
  //overflow: hidden;
  font-size: 7px;
  min-height: 38px;

  .service_item_ph & {
    box-shadow: 0 1px 1px rgba(18, 36, 52, 0.23);
    background: rgb(97, 164, 223);
    background: -moz-linear-gradient(top, rgba(97, 164, 223, 1) 0%, rgba(29, 135, 228, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(97, 164, 223, 1) 0%, rgba(29, 135, 228, 1) 100%);
    background: linear-gradient(to bottom, rgba(97, 164, 223, 1) 0%, rgba(29, 135, 228, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61a4df', endColorstr='#1d87e4', GradientType=0);

    &:after {
      border-top: 20px solid #1d87e4;
    }

    /* Combined Shape: */
    //background-image: linear-gradient(-180deg, #61a4df 0%, #1d87e4 100%);

  }

  .service_item_ic & {
    box-shadow: 0 1px 1px rgba(90, 28, 27, 0.23);
    background: rgb(244, 107, 101);
    background: -moz-linear-gradient(top, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 1) 100%);
    background: linear-gradient(to bottom, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f46b65', endColorstr='#e7423e', GradientType=0);

    &:after {
      border-top: 20px solid #e7423e;
    }

    /* Combined Shape: */
    //background-image: linear-gradient(-180deg, #f46b65 0%, #e7423e 100%);

  }

  .service_item_at & {
    box-shadow: 0 1px 1px rgba(76, 175, 80, 0.29);
    background: rgb(126, 205, 129);
    background: -moz-linear-gradient(top, rgba(126, 205, 129, 1) 0%, rgba(76, 175, 80, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(126, 205, 129, 1) 0%, rgba(76, 175, 80, 1) 100%);
    background: linear-gradient(to bottom, rgba(126, 205, 129, 1) 0%, rgba(76, 175, 80, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ecd81', endColorstr='#4caf50', GradientType=0);

    &:after {
      border-top: 20px solid #4caf50;
    }

    /* Combined Shape: */
    //background-image: linear-gradient(-180deg, #7ecd81 0%, #4caf50 100%);

  }

  &:after {
    @include transition_all(transform .3s, opacity .3s);
    @include transform_translate(0, -25px);
    opacity: 0;
    content: '';
    position: absolute;
    display: none;
    top: 100%;
    left: 50%;
    margin-left: -25px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }

  &:before {
    @include transition_all(height .3s, opacity .3s);
    content: '';
    position: absolute;
    top: 0;
    bottom: 2px;
    z-index: 1;
    //height: 100%;
    left: 0;
    right: 0;
    border-radius: inherit;
    background: #fff;
  }

  .ui-state-active & {
    cursor: default;
  }

  .ui-state-active &,
  &:hover {
    color: #fff;

    .svg_hover {
      fill: #fff;
    }

    .svg_hover_sh {
      display: inline-block;
    }

    .svg_def_sh {
      display: none;
    }

    &:before {
      opacity: 0;
      //height: 0;
    }
  }

  @include respond-to-min($resp_step_2) {
    border-radius: 5px;
    font-size: 16px;

    &:after {
      display: block;
    }

    .ui-state-active & {
      &:after {
        opacity: 1;
        @include transform_translate(0, 0);
      }
    }

    .service_item_ph & {
      box-shadow: 0 5px 15px rgba(18, 36, 52, 0.23);
    }

    .service_item_ic & {
      box-shadow: 0 5px 15px rgba(90, 28, 27, 0.23);
    }

    .service_item_at & {
      box-shadow: 0 5px 15px rgba(23, 93, 26, 0.21);
    }

    &:before {
      bottom: 9px;
      //margin-top: -9px;
    }
  }
}

.svg_hover_sh {
  display: none;
}

.svg_hover {
  @include transition_all(fill .3s);
}

.service_name {
  padding: 1px 1px 4px;
  letter-spacing: 1px;

  @include respond-to-min($resp_step_2) {
    padding: 1px 10px 14px;
    letter-spacing: 1.8px;
  }

  @include respond-to-min($resp_step_2  + $add_step) {
    padding: 5px 10px 30px;
    line-height: 1.45;
  }

}

.service_name,
.service_icon {
  position: relative;
  z-index: 1;
}

.service_icon {
  text-align: center;
  padding: 7px 0 2px;
  min-height: 23px;

  svg {
    vertical-align: top;
    max-width: 20px;
  }

  @include respond-to-min($resp_step_2) {
    min-height: 140px;
    padding: 10px 0 1px;

    svg {
      max-width: 100%;
    }
  }

  @include respond-to-min($resp_step_2  + $add_step) {
    min-height: 160px;
    padding: 30px 0 1px;
  }

}

.service_tab {
  @extend %clearfix;
  position: relative;

  @include respond-to-min($resp_step_2) {
    padding-top: 120px;

    &.standalone {
      padding-top: 80px;
      background: #f7f7f7;

      .service_block_w {
        background: none;
      }

      &.service_tab_ph {

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #f5faff;
          background: -moz-linear-gradient(top, #f5faff 1%, #e5f0fa 100%);
          background: -webkit-linear-gradient(top, #f5faff 1%, #e5f0fa 100%);
          background: linear-gradient(to bottom, #f5faff 1%, #e5f0fa 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5faff', endColorstr='#e5f0fa', GradientType=0);

          //background-image: linear-gradient(0deg, #f5faff 1%, #e5f0fa 100%);
        }
      }

      &.service_tab_ic {

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0.49;
          background: -moz-linear-gradient(top, rgba(244, 234, 234, 0.63) 1%, rgba(250, 233, 232, 1) 100%);
          background: -webkit-linear-gradient(top, rgba(244, 234, 234, 0.63) 1%, rgba(250, 233, 232, 1) 100%);
          background: linear-gradient(to bottom, rgba(244, 234, 234, 0.63) 1%, rgba(250, 233, 232, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1f4eaea', endColorstr='#fae9e8', GradientType=0);

          //background-image: linear-gradient(0deg, rgba(244, 234, 234, 0.63) 1%, #fae9e8 100%);
        }
      }
      
      &.service_tab_at {

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0.31;
          background: #ebf6eb;
          background: -moz-linear-gradient(top, #ebf6eb 0%, #dcf2dd 100%);
          background: -webkit-linear-gradient(top, #ebf6eb 0%, #dcf2dd 100%);
          background: linear-gradient(to bottom, #ebf6eb 0%, #dcf2dd 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf6eb', endColorstr='#dcf2dd', GradientType=0);

          //background-image: linear-gradient(0deg, #ebf6eb 1%, #dcf2dd 100%);
        }
      }
    }

    //background: #f7f7f7;

    &:before {
      //content: '';
      //position: absolute;
      //top: 0;
      //right: 0;
      //left: 0;
      //bottom: 0;
      //background: -moz-linear-gradient(top, rgba(234, 242, 246, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
      //background: -webkit-linear-gradient(top, rgba(234, 242, 246, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
      //background: linear-gradient(to bottom, rgba(234, 242, 246, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
      //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf2f6', endColorstr='#80ffffff', GradientType=0);

      //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #eaf2f6 100%);
    }
  }
}

.service_caption {
  font-weight: 800;
  font-size: 22px;
  line-height: 1.37;
  margin-bottom: 4px;
  text-align: center;

  .service_tab_ph & {
    color: $clr_blue;
  }

  .service_tab_ic & {
    color: $clr_red;
  }

  .service_tab_at & {
    color: $clr_green;
  }

  @include respond-to-min($resp_step_2) {
    font-size: 32px;
    text-align: left;
    margin-bottom: 15px;
  }

}

.block_caption_tip {
  font-weight: 300;
  line-height: 1.5;
  color: #9aa8be;
  padding: 0 10px;
  margin-bottom: 3px;
  text-align: center;

  @include respond-to-min($resp_step_2) {
    font-size: 20px;
    padding: 0;
    line-height: 1.37;
    margin-bottom: 23px;

    .service_info & {
      text-align: left;
    }
  }

  .popup_inner & {
    text-align: left;
  }

}

.service_info {

  @include respond-to-min($resp_step_2) {
    float: left;
    width: 50%;
    padding-right: 10px;
  }
}

.service_img {
  text-align: center;
  padding: 40px 55px 10px;

  img,
  svg {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    float: right;
    width: 50%;
    padding: 35px 0 0;
    max-width: 505px;
    text-align: right;

    .service_tab_ph & {
      padding-top: 100px;
    }

    .service_tab_ic & {
      max-width: 523px;
    }

    .service_tab_at & {
    }
  }
}

.service_more_info {
  @extend %clearfix;
  margin-left: -28px;
  display: none;

  li {
    padding-left: 28px;
    float: left;
  }

  @include respond-to-min($resp_step_2) {
    display: block;
  }

}

.service_block_w {
  background: #fff;
  padding-bottom: 20px;

  @include respond-to-min($resp_step_2) {
    padding-bottom: 60px;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 9%, rgba(247, 247, 247, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 9%, rgba(247, 247, 247, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 9%, rgba(247, 247, 247, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#f7f7f7', GradientType=0);

    //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #cde2ed 100%);
  }
}

.service_block {
  @extend %clearfix;
  //margin-bottom: 30px;

  p {
    margin-bottom: 14px;
    line-height: 1.65;
    font-size: 14px;
  }

  @include respond-to-min($resp_step_2) {
    //margin-bottom: 115px;

    p {
      margin-bottom: 17px;
      line-height: 1.8;
      font-size: 16px;
    }
  }
}

.service_range_w {
  position: relative;
  //padding-top: 35px;
  background: #f7f7f7;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(234, 241, 245, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    background: -webkit-linear-gradient(top, rgba(234, 241, 245, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    background: linear-gradient(to bottom, rgba(234, 241, 245, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf1f5', endColorstr='#80ffffff', GradientType=0);
  }

  /* Rectangle 34: */
  //background: #f7f7f7;
  //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #eaf1f5 100%);
  //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #cde2ed 100%);

  @include respond-to-min($resp_step_2) {
    //padding-top: 55px;

    background: #fff;

    &:before {
      display: none;
    }

    &.dt_grad {
      background: #f7f7f7;
      padding-bottom: 1px;

      &:before {
        display: block;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 89%, rgba(234, 242, 246, 1) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 89%, rgba(234, 242, 246, 1) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 89%, rgba(234, 242, 246, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#eaf2f6', GradientType=0);

        //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #eaf2f6 100%);
      }
    }
  }
}

.service_range {
  padding-top: 35px;
  margin-bottom: 20px;
  text-align: center;

  @include respond-to-min($resp_step_2) {
    margin-bottom: 25px;
    padding-top: 55px;
  }
}

.service_range_img {
  margin-bottom: 3px;
  min-height: 65px;
  padding-top: 15px;

  img {
    display: inline-block;
    vertical-align: top;
    //max-width: 55px;
  }

  @include respond-to-min($resp_step_2) {
    margin-bottom: 20px;
    min-height: 100px;
    padding-top: 35px;

    img {
      max-width: 100%;
    }

    .popup_inner & {
      margin: -5px 0 8px;
      min-height: 85px;
      padding-top: 0;
    }
  }
}

.block_caption {
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 6px;

  @include respond-to-min($resp_step_2) {
    font-size: 32px;
    margin-bottom: 17px;

    .popup_inner & {
      line-height: 1.4;
    }
  }

  @include respond-to-max($resp_step_2) {
    .news_page & {
      line-height: 1.5;
      margin-top: -4px;
      margin-bottom: 10px;
    }
  }
}

.service_object_list_w {
  padding: 0 0 30px;

  .section_inner {
    z-index: 1;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:after {
    background: url(../i/objects_bg.png) no-repeat 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .service_tab_ph & {
    &:before {
      background: #1d87e4;
      background: -moz-linear-gradient(top, rgba(8, 87, 156, 1) 0%, rgba(29, 135, 228, 1) 48%, rgba(27, 148, 255, 0.68) 100%);
      background: -webkit-linear-gradient(top, rgba(8, 87, 156, 1) 0%, rgba(29, 135, 228, 1) 48%, rgba(27, 148, 255, 0.68) 100%);
      background: linear-gradient(to bottom, rgba(8, 87, 156, 1) 0%, rgba(29, 135, 228, 1) 48%, rgba(27, 148, 255, 0.68) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08579c', endColorstr='#ad1b94ff', GradientType=0);

      //background-image: linear-gradient(0deg, rgba(27, 148, 255, 0.68) 0%, #1d87e4 48%, #08579c 100%);
    }
  }

  .service_tab_ic & {

    &:before {
      background: #f46b65;
      background: -moz-linear-gradient(top, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 0.9) 100%);
      background: -webkit-linear-gradient(top, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 0.9) 100%);
      background: linear-gradient(to bottom, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 0.9) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f46b65', endColorstr='#e6e7423e', GradientType=0);

      background-image: linear-gradient(0deg, #f46b65 0%, #e7423e 100%);
      /* Sketch doesnt export pattern fills at this point */
    }
  }

  .service_tab_at & {

    &:before {
      background: #4caf50;
      background: -moz-linear-gradient(top, rgba(89, 188, 93, 1) 0%, rgba(76, 175, 80, 1) 48%, rgba(44, 123, 48, 0.68) 100%);
      background: -webkit-linear-gradient(top, rgba(89, 188, 93, 1) 0%, rgba(76, 175, 80, 1) 48%, rgba(44, 123, 48, 0.68) 100%);
      background: linear-gradient(to bottom, rgba(89, 188, 93, 1) 0%, rgba(76, 175, 80, 1) 48%, rgba(44, 123, 48, 0.68) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59bc5d', endColorstr='#ad2c7b30', GradientType=0);

      //background-image: linear-gradient(0deg, #59bc5d 0%, #4caf50 48%, #2c7b30 100%);
      /* Sketch doesnt export pattern fills at this point */
    }
  }

  .block_caption_tip {
    opacity: .7;
    margin-bottom: 35px;
  }

  .block_caption_tip,
  .block_caption {
    color: #fff;
  }

  .slider_arrow {
    margin: 3px 6px;
  }

  .slider_dots .slick-dots li {
    margin: 6px 10px;
  }

  @include respond-to-min($resp_step_2) {
    padding: 0 0 50px;

    &.standalone {
      padding-bottom: 36px;
    }
  }

  .hero_block & {
    min-height: 250px;
    padding: 0;

    &:before {
      background: #80b9c7;
      background: -moz-linear-gradient(top, #80b9c7 0%, #3b889c 100%);
      background: -webkit-linear-gradient(top, #80b9c7 0%, #3b889c 100%);
      background: linear-gradient(to bottom, #80b9c7 0%, #3b889c 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b9c7', endColorstr='#3b889c', GradientType=0);

      //background-image: linear-gradient(0deg, #80b9c7 0%, #3b889c 100%);

    }

    @include respond-to-min($resp_step_2) {
      min-height: 400px;
    }
  }

  .hero_block_small & {
    min-height: 137px;
  }
}

.service_range_list_w {
  position: relative;
  margin: 20px -25px 30px;

  @include respond-to-min($resp_step_2) {
    margin: 25px 0 40px;
  }

  .slick-dots {
    font-size: 0;
    white-space: normal;

    li {
      box-shadow: 0 1px 2px rgba(147, 147, 147, .46), inset 0 1px 2px rgba(147, 147, 147, .46);

      &.slick-active {
        background: #fff;
        cursor: default;
        box-shadow: 0 1px 2px rgba(147, 147, 147, .46);
      }
    }
  }
}

.service_object_list_w {
  position: relative;
  overflow: hidden;

  .slick-dots {
    font-size: 0;
    white-space: normal;

    li {
      //box-shadow: 0 1px 2px rgba(147, 147, 147, .46), inset 0 1px 2px rgba(147, 147, 147, .46);
      //
      //&.slick-active {
      //  background: #fff;
      //  cursor: default;
      //  box-shadow: 0 1px 2px rgba(147, 147, 147, .46);
      //}
    }
  }
}

.service_range_controls {
  //position: absolute;
  //bottom: 0;
  //right: 0;
  //left: 0;
  text-align: center;
  white-space: nowrap;
}

.service_object_controls {
  text-align: center;
  white-space: nowrap;
}

.slider_arrow {
  display: inline-block;
  vertical-align: top;
  margin: 8px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;

  &:before {
    @include transition_all(text-shadow .3s);
  }

  &:hover {
    &:before {
      text-shadow: 0 5px 6px rgba(0, 0, 0, 0.36);
    }
  }

  &.slick-disabled {
    cursor: default;

    &:before {
      text-shadow: none;
    }
  }
}

.slick-list {
  overflow: hidden;
}

.slider_dots {
  display: inline-block;
  vertical-align: top;

  .slider_arrow + & {
    max-width: 75%;
  }

  .slick-dots {
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;

    li {
      @include transition_all(background .3s, box-shadow .3s);
      display: inline-block;
      vertical-align: top;
      border: 2px solid #fff;
      border-radius: 100%;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      margin: 8px;
      width: 12px;
      height: 12px;
      box-shadow: 0 1px 2px rgba(147, 147, 147, .46), inset 0 1px 2px rgba(147, 147, 147, .46);

      &:hover {
        //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.36);
      }

      &.slick-active {
        background: #fff;
        cursor: default;
        box-shadow: 0 1px 2px rgba(147, 147, 147, .46);
        //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
      }

      button {
        font-size: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: none;
      }

      @include respond-to-min($resp_step_2) {
        width: 15px;
        height: 15px;
      }
    }
  }
}

.service_range_list {
  @extend %clearfix;
  margin: -10px -10px -10px -30px;
  overflow: hidden;
  position: relative;
  font-size: 0;
  padding: 10px;
  text-align: center;

  .popup_inner & {
    margin-bottom: 20px;
  }

  .slick-list {
    overflow: visible;
  }

  .slide {
    @include transition_all(transform .3s);
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 21px;

    &.new_line {
      width: 0 !important;
      display: none;
    }

    &.slick-current {
      //@include transform_scale(1.1);

      .service_range_unit {
        margin: -10px -10px -20px;
        height: 143px;
        overflow: hidden;

        p {
          //min-height: 55px;
        }
      }

      .service_range_img {
        padding-top: 25px;
        margin-bottom: 13px;
      }

    }

    @include respond-to-min($resp_step_2) {
      width: 25%;
      //padding-left: 20px;
      //margin-bottom: 21px;

      &.new_line {
        display: inline-block;
        vertical-align: top;
        margin-left: -19px;
      }

      &.slick-current {
        //@include transform_scale(1);

        .service_range_unit {
          margin: 0;
          height: auto;
          overflow: hidden;
        }

        .service_range_img {
          margin-bottom: 20px;
          min-height: 100px;
          padding-top: 35px;
        }
      }
    }
  }
}

.service_object_list {
  @extend %clearfix;
  overflow: hidden;
  position: relative;
  font-size: 0;
  text-align: center;
  padding: 10px 0;
  margin: -20px -25px 0;

  .slick-list {
    overflow: visible;
  }

  .slide {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    padding: 0 10px;
    margin-bottom: 15px;

    &.slick-current {
      //@include transform_scale(1.1);
      //margin-bottom: -15px;

      .service_object_unit {
        margin: -10px -10px -20px;

        p {
          padding: 14px 10px;
        }
      }
    }

    @include respond-to-min($resp_step_2) {
      margin-bottom: 25px;

      &.slick-current {
        //@include transform_scale(1);

        .service_object_unit {
          margin: 0;

          p {
            padding: 26px 20px;
          }
        }
      }
    }
  }

  @include respond-to-min($resp_step_2) {
    margin: 0 -10px;
    padding: 0;
  }
}

.slick-track {
  @extend %clearfix;
}

.service_range_unit {
  @include transition_all(box-shadow .3s, color .3s);
  border-radius: 5px;
  background: #fff;
  font-size: 14px;
  overflow: hidden;
  min-height: 124px;
  text-align: center;
  cursor: pointer;

  .service_tab_ph & {
    box-shadow: 0 4px 4px rgba(43, 92, 136, .17);
  }

  .service_tab_ic & {
    box-shadow: 0 4px 4px rgba(113, 58, 56, 0.14);
  }

  .service_tab_at & {
    box-shadow: 0 4px 4px rgba(75, 153, 79, 0.19);
  }

  &:hover {
    color: $clr_blue;
    box-shadow: 0 5px 10px rgba(18, 36, 52, 0.23);
  }

  @include respond-to-min($resp_step_2) {
    font-size: 16px;
    min-height: 190px;
  }
}

.service_object_unit {
  @include transition_all(box-shadow .3s, margin .3s);
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  text-align: left;
  display: block;
  cursor: pointer;
  margin: 0;
  box-shadow: 0 4px 4px rgba(33, 60, 34, .24);

  p {
    @include transition_all(padding .3s);
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #1d87e4;
    //letter-spacing: .2px;
  }

  &:hover {
    box-shadow: 0 10px 18px rgba(18, 36, 53, .23);
  }

  @include respond-to-min($resp_step_2) {
    //min-height: 330px;

    p {
      padding: 26px 20px;
      font-size: 20px;
      color: $default_t_color;
    }
  }
}

.service_object_date {
  @extend %clearfix;
  text-align: left;
  position: absolute;
  bottom: 1px;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
}

.service_object_counter {
  float: right;
}

a.service_object_img {
  display: block;
}

.service_object_img {
  position: relative;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .service_tab_ph & {

    &:before {
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(29, 34, 227, 0.9) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(29, 34, 227, 0.9) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(29, 34, 227, 0.9) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#e61d22e3', GradientType=0);

      background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.00) 46%, rgba(29, 134, 227, 0.90) 100%);
    }

  }

  .service_tab_ic & {

    &:before {
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(231, 65, 62, 0.9) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(231, 65, 62, 0.9) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(231, 65, 62, 0.9) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#e6e7413e', GradientType=0);

      background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.00) 46%, rgba(231, 65, 62, 0.90) 100%);
    }

  }

  .service_tab_at & {

    &:before {
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(76, 175, 80, 0.9) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(76, 175, 80, 0.9) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(76, 175, 80, 0.9) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#e64caf50', GradientType=0);

      background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.00) 46%, rgba(76, 175, 80, 0.90) 100%);
    }

  }

  img {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
}

.review_section {
  position: relative;
  padding-bottom: 7px;
  background: #fff;

  //background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 89%, rgba(205, 226, 237, 0.9) 100%);
  //background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 89%, rgba(205, 226, 237, 0.9) 100%);
  //background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 89%, rgba(205, 226, 237, 0.9) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#e6cde2ed', GradientType=0);

  //background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.50) 89%, #eaf2f6 100%);

  @include respond-to-min($resp_step_2) {
    background: #f7f7f7;
    padding-bottom: 40px;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 89%, rgba(234, 242, 246, 1) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 89%, rgba(234, 242, 246, 1) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 89%, rgba(234, 242, 246, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#eaf2f6', GradientType=0);
    }

  }

  //background: #f7f7f7;
  //background-image: linear-gradient(-179deg, rgba(255, 255, 255, 0.50) 89%, #cde2ed 100%);

  @include respond-to-min($resp_step_2) {
    padding-bottom: 60px;
  }

}

.review_block {
  padding-top: 37px;
  text-align: center;

  .block_caption {
    //font-size: 20px;
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 55px;
  }
}

.review_slider_w {
  overflow: hidden;
  padding: 10px;
  margin: 0 -25px;
  position: relative;

  @include respond-to-min($resp_step_2) {
    margin: -10px;
  }
}

.review_list {
  @extend %clearfix;
  //margin-left: -20px;

  .slide {
    float: left;
    display: block;
  }

  .review_text .slide {
    font-size: 16px;
    //padding-left: 20px;
    margin-bottom: 22px;

    @include respond-to-min($resp_step_2) {
      margin-bottom: 0;
    }
  }
}

.review_controls {
  @extend %clearfix;
  position: absolute;
  bottom: 120px;
  left: 0;
  right: 0;
  text-align: center;
  white-space: nowrap;
  z-index: 1;

  .slider_arrow {
    color: #1d87e4;
    font-size: 28px;

    &.slider_prev {
      float: left;
    }

    &.slider_next {
      float: right;
    }
  }

  .slick-dots {
    line-height: 40px;

    li {
      vertical-align: middle;
    }
  }

  @include respond-to-min($resp_step_2) {
    position: relative;
    bottom: auto;
    right: auto;
    left: auto;

    .slider_arrow {
      position: absolute;
      bottom: 245px;
      top: auto;
      font-size: 26px;

      &.slider_prev {
        //left: 440px;
        left: 35.5%;
      }

      &.slider_next {
        right: 22px;
      }
    }
  }
}

.reviews_holder {
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background: #fff;
  padding: 40px 15px;
  box-shadow: 0 5px 15px rgba(43, 93, 136, .17);

  @include respond-to-min($resp_step_2) {
    padding: 0;
  }
}

.review_author_avatar {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  overflow: hidden;

  img {
    display: block;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    float: left;
    border-radius: 0;
    width: auto;
    height: auto;
  }
}

.review_author_avatar_slider {

  @include respond-to-min($resp_step_2) {
    float: left;
    border-radius: 0;
    //width: auto;
    height: auto;
    width: 33.5%;
  }
}

.review_author_box {
  position: absolute;
  padding-left: 80px;
  padding-right: 15px;
  width: 100%;
  top: 40px;
  right: 0;

  @include respond-to-min($resp_step_2) {
    position: relative;
    top: auto;
    right: auto;
    padding: 0;
  }
}

.mob_table {
  display: table;
  min-height: 55px;
  width: 100%;

  @include respond-to-min($resp_step_2) {
    display: block;
    min-height: 0;
  }
}

.mob_t_cell {
  display: table-cell;
  vertical-align: middle;

  @include respond-to-min($resp_step_2) {
    display: block;
    height: auto;
  }
}

.review_text {
  padding-top: 25px;

  p {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 15px;
  }

  @include respond-to-min($resp_step_2) {
    //margin-left: 527px;
    margin-left: 41.85%;
    padding-top: 52px;
    padding-right: 70px;

    p {
      font-size: 24px;
      line-height: 40px;
      font-weight: 300;
      letter-spacing: .25px;
      margin-bottom: 14px;
    }
  }
}

.review_author_name {
  color: #4a5669;
  font-weight: 500;
  margin-bottom: 15px;

  @include respond-to-min($resp_step_2) {
    font-size: 20px;
    color: #9aa8be;
    font-weight: 300;
    padding-left: 20px;
    margin-bottom: 5px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 10px;
      height: 1px;
      margin-top: -2px;
      background: #9aa8be;
    }
  }
}

.review_author_post {
  color: #9aa8be;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 38px;

  @include respond-to-min($resp_step_2) {
    color: #cad3db;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    max-height: none;
  }

}

.review_unit {
  //padding-left: 20px;
}

.review_unit_controls {
  @extend %clearfix;
  padding-top: 22px;
  margin-top: 15px;
  position: relative;
  text-align: center;

  &:before {
    height: 1px;
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    left: -15px;
    background: #e7e9eb;
  }

  @include respond-to-min($resp_step_2) {
    margin: 0;
    padding-top: 25px;
    padding-left: 18px;
    text-align: left;

    &:before {
      display: none;
    }
  }
}

.contacts_block {
  padding-top: 20px;
  text-align: center;

  @include respond-to-max($resp_step_2) {
    .contacts_page & {
      padding-top: 35px;
    }
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 55px;

    .contacts_page & {
      padding-top: 40px;
    }
  }
}

.map_holder {
  position: relative;
}

.mob_map_switcher {
  @extend %clearfix;
  position: relative;
  z-index: 2;
  padding-top: 10px;
}

.map_info {
  position: relative;

  @include respond-to-min($resp_step_2) {
    position: absolute;
    top: 0;
    height: 0;
    left: 0;
    right: 0;
    z-index: 2;

    .section_inner {
      height: 0;
    }
  }
}

.map_w {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 320px;

  &:before {
    pointer-events: none;
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 30%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);

  }

  @include respond-to-min($resp_step_2) {
    height: 625px;
  }
}

.map_block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contacts_col {

  @include respond-to-min($resp_step_2) {
    float: left;
    width: 49.2%;
    min-width: 600px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .26);
  }

}

.office_block {
  padding-top: 33px;
  display: none;
  position: relative;

  &.office_current {
    display: block;
  }

  @include respond-to-min($resp_step_2) {
    padding: 35px 65px 15px;
    cursor: pointer;
    display: block;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
    }

    &:after {
      @include transition_all(background .3s);
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: .7;
      background: #434343;
    }

    &.office_spb {

      &:before {
        opacity: .5;
        background: url(../i/office_spb.jpg) no-repeat 50%;
      }
    }

    &.office_msc {

      &:before {
        background: url(../i/office_msc.jpg) no-repeat 50%;
        background-color: rgba(67, 67, 67, .7);
      }
    }

    &:hover {

      &:after {
        background-color: #e7423e;
      }

    }

    &.office_current {
      .active_arrow {
        opacity: .7;
      }

      &:after {
        background-color: #e7423e;
      }
    }

  }

  &:before {

  }

}

.contacts_caption {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 17px;
  padding-bottom: 11px;

  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 1px;
    background: $default_t_color;
  }

  @include respond-to-min($resp_step_2) {
    color: #fff;
    margin-bottom: 28px;
    padding-top: 12px;
    padding-bottom: 12px;

    &:before {
      background: #fff;
    }
  }
}

.active_arrow {
  position: absolute;
  top: 50%;
  margin-top: -32px;
  left: 100%;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  border-left: 25px solid #e7423e;
  opacity: 0;
}

.contact_icon {
  display: block;
  font-size: 18px;
  width: 25px;
  margin-bottom: 5px;

  @include respond-to-min($resp_step_2) {
    display: inline-block;
    vertical-align: middle;
    margin-left: -25px;
    margin-bottom: 0;
  }
}

.contacts_list_w {
  @extend %clearfix;

  @include respond-to-min($resp_step_2) {
    position: relative;
    z-index: 1;
    max-width: 465px;
  }

}

.contacts_list {
  font-weight: 300;
  font-size: 14px;

  dd, dt {
    display: block;
  }

  dd {
    margin-bottom: 14px;
    line-height: 1.4;

    p {
      margin-bottom: 4px;
    }

  }

  dt {
    margin-bottom: 10px;
  }

  @include respond-to-min($resp_step_2) {
    float: left;
    width: 50%;
    color: #fff;
    font-size: 16px;
    color: rgba(255, 255, 255, .6);

    &.contacts_list_right {
      float: right;
    }

    .fw_500 {
      color: #fff;
    }

    dt {
      margin-bottom: 6px;
    }

    dd {
      margin-bottom: 20px;
    }
  }

}

.contact_link {
  color: $default_t_color;
}

.contact_tip {
  font-size: 14px;
}

.feedback_block {
  @extend %clearfix;
  padding-top: 50px;
  text-align: center;
}

.feedback_form_holder {
  margin-bottom: 40px;

  .f_input_v1 {
    //text-align: center;
  }

  @include respond-to-min($resp_step_2) {
    float: left;
    width: 50%;
    padding: 0 1.6% 0 4.6%;
    max-width: 520px;
    margin-bottom: 32px;

    .contacts_page & {
      margin-bottom: 36px;
    }

    .f_input_v1 {
      //text-align: left;
    }
  }
}

.feedback_info_holder {

  @include respond-to-min($resp_step_2) {
    float: right;
    width: 50%;
    padding: 0 1.6%;
    max-width: 520px;
  }
}

.feedback_form_caption {
  position: relative;
  padding-bottom: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: -5px;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 2px;
    background: #cad3db;
  }
}

.feedback_contacts {
  margin-bottom: -42px;
  position: relative;
  z-index: 1;

  dt {
    display: block;
    color: #9aa8be;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 6px;
  }

  dd {
    display: block;
    margin-bottom: 30px;
  }

}

.feedback_img {
  margin-left: -7.5%;

  img {
    display: block;
    max-width: 100%;
  }
}

.insta_block {
  @extend %clearfix;
  padding-top: 40px;
  text-align: center;

  @include respond-to-min($resp_step_2) {
    padding-top: 50px;
  }
}

.insta_section {
  position: relative;
  //background: -moz-linear-gradient(top, rgba(205, 226, 237, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
  //background: -webkit-linear-gradient(top, rgba(205, 226, 237, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
  //background: linear-gradient(to bottom, rgba(205, 226, 237, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cde2ed', endColorstr='#80ffffff', GradientType=0);

  background: #f7f7f7;
  //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #cde2ed 100%);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: -moz-linear-gradient(top, rgba(234, 242, 246, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    background: -webkit-linear-gradient(top, rgba(234, 242, 246, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    background: linear-gradient(to bottom, rgba(234, 242, 246, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf2f6', endColorstr='#80ffffff', GradientType=0);

    //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #eaf2f6 100%);
  }

}

.insta_icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  margin-left: -8px;
  max-width: 30px;

  img {
    display: block;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    max-width: none;
  }
}

.insta_list {
  @extend %clearfix;
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
  //max-width: $content-max-w;

  li {
    float: left;
    width: 33.33%;
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 0;

    li {
      width: 25%;

      &:nth-child(n+9) {
        display: none;
      }
    }
  }
}

.insta_unit {

  img {
    display: block;
    width: 100%;
  }
}

