.main_banner {
  position: relative;
  text-align: center;

  > img {
    display: inline-block;
    vertical-align: top;
    //max-width: 100%;
    width: 100%;
    min-height: (270 / 16 * 1em);
  }

  .section_inner {
    //max-width: $content-max-w - 200;
  }
}

.abs_holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;

  .main_banner & {
    padding-bottom: (110 / 16 * 1em);
  }

}

.gl_table {
  display: table;
  width: 100%;
  height: 100%;
}

.gl_table_cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.banner_content {
  @extend %clearfix;
  text-align: center;
  margin-top: (28 / 16 * 1em);
  display: table;
  width: 100%;

  @include respond-to-min($resp_step_2) {
    text-align: left;
    //margin-top: 0;
    //display: block;
  }
}

.banner_text {
  color: #fff;

  p {
    font-size: (20 / 16 * 1em);
    font-weight: 300;
    margin-top: (10 / 16 * 1em);
    text-shadow: 0 (2 / 16 * 1em) (4 / 16 * 1em) rgba(0, 0, 0, .15);
  }

  @include respond-to-min($resp_step_2) {

    p {
      margin-top: (7 / 16 * 1em);
    }
  }

  @include respond-to-min($resp_step_2  + $add_step) {

    p {
      font-size: (30 / 16 * 1em);
    }
  }
}

.banner_title {
  font-size: (27 / 16 * 1em);
  font-weight: 500;
  margin: (8 / 27 * 1em) 0 (15 / 27 * 1em);

  @include respond-to-min($resp_step_2) {
    font-size: (40 / 16 * 1em);
    margin: 0 0 (7 / 40 * 1em);
  }

  @include respond-to-min($resp_step_2  + $add_step) {
    font-size: (50 / 16 * 1em);
    margin: 0 0 (7 / 50 * 1em);
  }
}

.banner_video_block {
  text-align: center;
  display: table-footer-group;

  @include respond-to-min($resp_step_2) {
    display: table-cell;
    padding: 0 1.5% 0 0;
    vertical-align: middle;
  }
}

.banner_mob_top {
  display: table-header-group;

  @include respond-to-min($resp_step_2) {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
  }
}

.banner_play_btn_2 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  border-radius: 45 / 16 * 1em;
  height: 90 / 16 * 1em;
  color: #fff;
  padding-left: 90 / 16 * 1em;
  background: rgba(0, 0, 0, .4);
  font-size: .45em;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90 / 16 * 1em;
    height: 90 / 16 * 1em;
    border-radius: 100%;
    border: (2 / 16 * 1em) solid #fff;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin: -1.27em 0 0 2.3em;
    border-top: (22 / 16 * 1em) solid transparent;
    border-bottom: (22 / 16 * 1em) solid transparent;
    border-left: (33 / 16 * 1em) solid #fff;
  }

  @include respond-to-min($resp_step_2) {
    width: 202 / 16 * 1em;
    font-size: 1em;

    &:after {
      margin-top: -1.37em;
    }
  }
}

.banner_play_btn_time {
  font: 300 1em $Roboto;
  line-height: 1;
  padding-top: 22 / 16 * 1em;
}

.banner_play_btn_name {
  font: 300 (25 / 16 * 1em) $Roboto;
}

.banner_play_btn {

  border-radius: 100%;
  background: #fff;
  width: (40 / 16 * 1em);
  height: (40 / 16 * 1em);
  box-shadow: 0 (5 / 16 * 1em) (15 / 16 * 1em) rgba(45, 61, 74, 0.47);

  img,
  svg {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: (-7 / 16 * 1em) 0 0 (-3 / 16 * 1em);
    width: (11 / 16 * 1em);
    //border-top: (7 / 16 * 1em)  solid transparent;
    //border-bottom: (7 / 16 * 1em)  solid transparent;
    //border-left: (11 / 16 * 1em)  solid #00c04a;
  }

  @include respond-to-min($resp_step_2) {
    width: (190 / 16 * 1em);
    height: (190 / 16 * 1em);
    margin: (-25 / 16 * 1em) 0 (20 / 16 * 1em);
    display: block;

    img,
    svg {
      margin: (-31 / 16 * 1em) 0 0 (-15 / 16 * 1em);
      //border-top: (30 / 16 * 1em)  solid transparent;
      //border-bottom: (30 / 16 * 1em)  solid transparent;
      //border-left: (45 / 16 * 1em)  solid #00c04a;
      width: (45 / 16 * 1em);
    }
  }
}

.banner_video_tip {
  font-size: (20 / 16 * 1em);
  font-weight: 300;
  padding: (10 / 16 * 1em);
  border-radius: (22 / 16 * 1em);
  color: #fff;
  background: rgba(0, 0, 0, .46);
}

.mob_phone {
  position: absolute;
  bottom: 100%;
  right: (10 / 16 * 1em);
  margin-bottom: (10 / 16 * 1em);
  border-radius: 100%;
  width: (40 / 16 * 1em);
  height: (40 / 16 * 1em);
  color: #fff;
  text-align: center;
  background: rgb(126, 205, 129);
  background: -moz-linear-gradient(top, rgba(126, 205, 129, 1) 0%, rgba(76, 175, 80, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(126, 205, 129, 1) 0%, rgba(76, 175, 80, 1) 100%);
  background: linear-gradient(to bottom, rgba(126, 205, 129, 1) 0%, rgba(76, 175, 80, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ecd81', endColorstr='#4caf50', GradientType=0);

  /* Oval 59: */
  //background-image: linear-gradient(-180deg, #7ecd81 0%, #4caf50 100%);
  box-shadow: 0 (5 / 16 * 1em) (15 / 16 * 1em) 0 rgba(76, 175, 80, 0.29);

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: (22 / 16 * 1em);
    line-height: (40 / 22 * 1em);
  }

  @include respond-to-min($resp_step_2) {
    display: none;
  }
}

.service_tabs_holder {
  @include transition_all(transform .3s);
  @include transform_translate(0, 100%);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;

  .section_inner {
    padding: 0;
  }

  .open_tabs & {
    @include transform_translate(0, 0);
  }
    
  @include respond-to-min($resp_step_2) {
    @include transform_translate(0, 0);
    position: absolute;
    bottom: (-70 / 16 * 1em);
    right: 0;
    left: 0;

    .section_inner {
      padding: 0 (100 / 16 * 1em);
    }
  }
}

.service_tabs {
  position: relative;
  margin-right: -1%;

  @include respond-to-min($resp_step_2) {
    margin-left: (-20 / 16 * 1em);
  }

}

.service_item {
  position: relative;
  float: left;
  width: 33%;

  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    height: (1 / 16 * 1em);
    width: (5000 / 16 * 1em);
    left: 50%;
    margin-left: (-2500 / 16 * 1em);
    margin-bottom: (-1 / 16 * 1em);
    display: none;
  }

  &.service_item_ph:before {
    box-shadow: 0 (-1 / 16 * 1em) (3 / 16 * 1em) rgba(18, 36, 52, 0.23);
  }

  &.service_item_ic:before {
    box-shadow: 0 (-1 / 16 * 1em) (3 / 16 * 1em) rgba(90, 28, 27, 0.23);
  }

  &.service_item_at:before {
    box-shadow: 0 (-1 / 16 * 1em) (3 / 16 * 1em) rgba(76, 175, 80, 0.29);
  }

  &.ui-state-active {
    &:before {
      display: block;
    }
  }

  @include respond-to-min($resp_step_2) {
    padding-left: (20 / 16 * 1em);

    &:before {
      display: none !important;
    }
  }
}

.service_link {
  @include transition_all(color .3s);
  display: block;
  position: relative;
  color: $default_t_color;
  font-weight: 500;
  //overflow: hidden;
  //font-size: (7 / 16 * 1em);
  min-height: (38 / 16 * 1em);

  .service_item_ph & {
    box-shadow: 0 (1 / 16 * 1em) (1 / 16 * 1em) rgba(18, 36, 52, 0.23);
    background: rgb(97, 164, 223);
    background: -moz-linear-gradient(top, rgba(97, 164, 223, 1) 0%, rgba(29, 135, 228, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(97, 164, 223, 1) 0%, rgba(29, 135, 228, 1) 100%);
    background: linear-gradient(to bottom, rgba(97, 164, 223, 1) 0%, rgba(29, 135, 228, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61a4df', endColorstr='#1d87e4', GradientType=0);

    &:after {
      border-top: (20 / 16 * 1em) solid #1d87e4;
    }

    /* Combined Shape: */
    //background-image: linear-gradient(-180deg, #61a4df 0%, #1d87e4 100%);

    .service_icon img {
      max-width: 112 / 16 * 1em;
    }
    
  }

  .service_item_ic & {
    box-shadow: 0 (1 / 16 * 1em) (1 / 16 * 1em) rgba(90, 28, 27, 0.23);
    background: rgb(244, 107, 101);
    background: -moz-linear-gradient(top, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 1) 100%);
    background: linear-gradient(to bottom, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f46b65', endColorstr='#e7423e', GradientType=0);

    &:after {
      border-top: (20 / 16 * 1em) solid #e7423e;
    }

    /* Combined Shape: */
    //background-image: linear-gradient(-180deg, #f46b65 0%, #e7423e 100%);

    .service_icon img {
      max-width: 131 / 16 * 1em;
    }
    
  }

  .service_item_at & {
    box-shadow: 0 (1 / 16 * 1em) (1 / 16 * 1em) rgba(76, 175, 80, 0.29);
    background: rgb(126, 205, 129);
    background: -moz-linear-gradient(top, rgba(126, 205, 129, 1) 0%, rgba(76, 175, 80, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(126, 205, 129, 1) 0%, rgba(76, 175, 80, 1) 100%);
    background: linear-gradient(to bottom, rgba(126, 205, 129, 1) 0%, rgba(76, 175, 80, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ecd81', endColorstr='#4caf50', GradientType=0);

    &:after {
      border-top: (20 / 16 * 1em) solid #4caf50;
    }

    /* Combined Shape: */
    //background-image: linear-gradient(-180deg, #7ecd81 0%, #4caf50 100%);

    .service_icon img {
      max-width: 208 / 16 * 1em;
    }
  }

  &:after {
    @include transition_all(transform .3s, opacity .3s);
    @include transform_translate(0, (-25 / 16 * 1em));
    opacity: 0;
    content: '';
    position: absolute;
    display: none;
    top: 100%;
    left: 50%;
    margin-left: (-25 / 16 * 1em);
    border-left: (25 / 16 * 1em) solid transparent;
    border-right: (25 / 16 * 1em) solid transparent;
  }

  &:before {
    @include transition_all(height .3s, opacity .3s);
    content: '';
    position: absolute;
    top: 0;
    bottom: (2 / 16 * 1em);
    z-index: 1;
    //height: 100%;
    left: 0;
    right: 0;
    border-radius: inherit;
    background: #fff;
  }

  .ui-state-active & {
    cursor: default;
  }

  .ui-state-active &,
  &:hover {
    color: #fff;

    .svg_hover {
      fill: #fff;
    }

    .svg_hover_sh {
      display: inline-block;
    }

    .svg_def_sh {
      display: none;
    }

    &:before {
      opacity: 0;
      //height: 0;
    }
  }

  @include respond-to-min($resp_step_2) {
    border-radius: (5 / 16 * 1em);
    font-size: (16 / 16 * 1em);

    &:after {
      display: block;
    }

    .ui-state-active & {
      &:after {
        opacity: 1;
        @include transform_translate(0, 0);
      }
    }

    .service_item_ph & {
      box-shadow: 0 (5 / 16 * 1em) (15 / 16 * 1em) rgba(18, 36, 52, 0.23);
    }

    .service_item_ic & {
      box-shadow: 0 (5 / 16 * 1em) (15 / 16 * 1em) rgba(90, 28, 27, 0.23);
    }

    .service_item_at & {
      box-shadow: 0 (5 / 16 * 1em) (15 / 16 * 1em) rgba(23, 93, 26, 0.21);
    }

    &:before {
      bottom: (9 / 16 * 1em);
      //margin-top: (-9 / 16 * 1em) ;
    }
  }
}

.svg_hover_sh {
  display: none;
}

.svg_hover {
  @include transition_all(fill .3s);
}

.service_name {
  font-size: (7 / 16 * 1em);
  padding: (1 / 7 * 1em) (1 / 7 * 1em) (4 / 7 * 1em);
  //letter-spacing: (1 / 7 * 1em);

  @include respond-to-min($resp_step_2) {
    font-size: 1em;
    padding: (1 / 16 * 1em) (10 / 16 * 1em) (14 / 16 * 1em);
    letter-spacing: (1.8 / 16 * 1em);
  }

  @include respond-to-min($resp_step_2  + $add_step) {
    padding: (5 / 16 * 1em) (10 / 16 * 1em) (30 / 16 * 1em);
    line-height: 1.45;
  }
}

.service_name,
.service_icon {
  position: relative;
  z-index: 1;
}

.service_icon {
  text-align: center;
  padding: (7 / 16 * 1em) 0 (2 / 16 * 1em);
  min-height: (23 / 16 * 1em);

  svg {
    vertical-align: top;
    max-height: 1em;
    max-width: (20 / 16 * 1em);
  }

  @include respond-to-min($resp_step_2) {
    min-height: (140 / 16 * 1em);
    padding: (10 / 16 * 1em) 0 (1 / 16 * 1em);

    svg {
      max-width: 100%;
      max-height: none;
    }
  }

  @include respond-to-min($resp_step_2  + $add_step) {
    min-height: (160 / 16 * 1em);
    padding: (30 / 16 * 1em) 0 (1 / 16 * 1em);
  }

}

.service_tab {
  @extend %clearfix;
  position: relative;

  @include respond-to-min($resp_step_2) {
    padding-top: (120 / 16 * 1em);

    &.standalone {
      padding-top: (80 / 16 * 1em);
      background: #f7f7f7;

      .service_block_w {
        background: none;
      }

      &.service_tab_ph {

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #f5faff;
          background: -moz-linear-gradient(top, #f5faff 1%, #e5f0fa 100%);
          background: -webkit-linear-gradient(top, #f5faff 1%, #e5f0fa 100%);
          background: linear-gradient(to bottom, #f5faff 1%, #e5f0fa 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5faff', endColorstr='#e5f0fa', GradientType=0);

          //background-image: linear-gradient(0deg, #f5faff 1%, #e5f0fa 100%);
        }
      }

      &.service_tab_ic {

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0.49;
          background: -moz-linear-gradient(top, rgba(244, 234, 234, 0.63) 1%, rgba(250, 233, 232, 1) 100%);
          background: -webkit-linear-gradient(top, rgba(244, 234, 234, 0.63) 1%, rgba(250, 233, 232, 1) 100%);
          background: linear-gradient(to bottom, rgba(244, 234, 234, 0.63) 1%, rgba(250, 233, 232, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1f4eaea', endColorstr='#fae9e8', GradientType=0);

          //background-image: linear-gradient(0deg, rgba(244, 234, 234, 0.63) 1%, #fae9e8 100%);
        }
      }

      &.service_tab_at {

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0.31;
          background: #ebf6eb;
          background: -moz-linear-gradient(top, #ebf6eb 0%, #dcf2dd 100%);
          background: -webkit-linear-gradient(top, #ebf6eb 0%, #dcf2dd 100%);
          background: linear-gradient(to bottom, #ebf6eb 0%, #dcf2dd 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf6eb', endColorstr='#dcf2dd', GradientType=0);

          //background-image: linear-gradient(0deg, #ebf6eb 1%, #dcf2dd 100%);
        }
      }
    }

    //background: #f7f7f7;

    &:before {
      //content: '';
      //position: absolute;
      //top: 0;
      //right: 0;
      //left: 0;
      //bottom: 0;
      //background: -moz-linear-gradient(top, rgba(234, 242, 246, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
      //background: -webkit-linear-gradient(top, rgba(234, 242, 246, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
      //background: linear-gradient(to bottom, rgba(234, 242, 246, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
      //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf2f6', endColorstr='#80ffffff', GradientType=0);

      //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #eaf2f6 100%);
    }
  }
}

.service_caption {
  font-weight: 800;
  font-size: (22 / 16 * 1em);
  line-height: 1.37;
  margin-bottom: (4 / 22 * 1em);
  text-align: center;

  .service_tab_ph & {
    color: $clr_blue;
  }

  .service_tab_ic & {
    color: $clr_red;
  }

  .service_tab_at & {
    color: $clr_green;
  }

  @include respond-to-min($resp_step_2) {
    font-size: (32 / 16 * 1em);
    text-align: left;
    margin-bottom: (15 / 32 * 1em);
  }

}

.block_caption_tip {
  font-weight: 300;
  line-height: 1.5;
  color: #9aa8be;
  padding: 0 (10 / 16 * 1em);
  margin-bottom: (3 / 16 * 1em);
  text-align: center;

  @include respond-to-min($resp_step_2) {
    font-size: (20 / 16 * 1em);
    padding: 0;
    line-height: 1.37;
    margin-bottom: (23 / 20 * 1em);

    .service_info & {
      text-align: left;
    }
  }

  .popup_inner & {
    text-align: left;
  }

}

.service_info {

  @include respond-to-min($resp_step_2) {
    float: left;
    width: 50%;
    padding-right: (10 / 16 * 1em);
  }
}

.service_img {
  text-align: center;
  padding: (40 / 16 * 1em) (55 / 16 * 1em) (10 / 16 * 1em);

  img,
  svg {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    float: right;
    width: 50%;
    padding: (35 / 16 * 1em) 0 0;
    max-width: (505 / 16 * 1em);
    text-align: right;

    .service_tab_ph & {
      padding-top: (100 / 16 * 1em);
    }

    .service_tab_ic & {
      max-width: (523 / 16 * 1em);
    }

    .service_tab_at & {
    }
  }
}

.service_more_info {
  @extend %clearfix;
  margin-left: (-28 / 16 * 1em);
  display: none;

  li {
    padding-left: (28 / 16 * 1em);
    float: left;
  }

  @include respond-to-min($resp_step_2) {
    display: block;
  }

}

.service_block_w {
  background: #fff;
  padding-bottom: (20 / 16 * 1em);

  @include respond-to-min($resp_step_2) {
    padding-bottom: (60 / 16 * 1em);
    background: #f7f7f7;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 9%, rgba(247, 247, 247, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 9%, rgba(247, 247, 247, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 9%, rgba(247, 247, 247, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#f7f7f7', GradientType=0);

    //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #cde2ed 100%);
  }
}

.service_block {
  @extend %clearfix;
  //margin-bottom: (30 / 16 * 1em) ;

  p {
    line-height: 1.65;
    font-size: (14 / 16 * 1em);
    margin-bottom: 1em;
  }

  @include respond-to-min($resp_step_2) {
    //margin-bottom: (115 / 16 * 1em) ;

    p {
      line-height: 1.8;
      font-size: (16 / 16 * 1em);
      margin-bottom: (17 / 16 * 1em);
    }
  }
}

.service_range_w {
  position: relative;
  //padding-top: (35 / 16 * 1em) ;
  background: #f7f7f7;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(234, 241, 245, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    background: -webkit-linear-gradient(top, rgba(234, 241, 245, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    background: linear-gradient(to bottom, rgba(234, 241, 245, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf1f5', endColorstr='#80ffffff', GradientType=0);
  }

  /* Rectangle 34: */
  //background: #f7f7f7;
  //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #eaf1f5 100%);
  //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #cde2ed 100%);

  @include respond-to-min($resp_step_2) {
    //padding-top: (55 / 16 * 1em) ;

    background: #fff;

    &:before {
      display: none;
    }

    &.dt_grad {
      background: #f7f7f7;
      padding-bottom: (1 / 16 * 1em);

      &:before {
        display: block;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 89%, rgba(234, 242, 246, 1) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 89%, rgba(234, 242, 246, 1) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 89%, rgba(234, 242, 246, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#eaf2f6', GradientType=0);

        //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #eaf2f6 100%);
      }
    }
  }
}

.service_range {
  padding-top: (35 / 16 * 1em);
  margin-bottom: (20 / 16 * 1em);
  text-align: center;

  @include respond-to-min($resp_step_2) {
    margin-bottom: (25 / 16 * 1em);
    //padding-top: (55 / 16 * 1em);
    padding-top: $section_pt / 16 * 1em;
  }
}

.service_range_img {
  margin-bottom: (3 / 16 * 1em);
  min-height: (65 / 16 * 1em);
  padding-top: (15 / 16 * 1em);

  img {
    display: inline-block;
    vertical-align: top;
    //max-height: 70 / 16 * 1em;
    //max-width: (55 / 16 * 1em) ;
  }

  @include respond-to-min($resp_step_2) {
    margin-bottom: (20 / 16 * 1em);
    min-height: (100 / 16 * 1em);
    padding-top: (35 / 16 * 1em);

    img {
      max-width: 100%;
    }

    .popup_inner > & {
      margin: (-5 / 16 * 1em) 0 (8 / 16 * 1em);
      min-height: (85 / 16 * 1em);
      padding-top: 0;
    }
  }
}

.block_caption {
  font-weight: 800;
  font-size: (22 / 16 * 1em);
  margin-bottom: (6 / 22 * 1em);

  @include respond-to-min($resp_step_2) {
    font-size: (32 / 16 * 1em);
    margin-bottom: .4em;
    line-height: 1.5;

    .popup_inner & {
      line-height: 1.4;
    }
  }

  @include respond-to-max($resp_step_2) {
    .news_page & {
      line-height: 1.5;
      margin-top: (-4 / 16 * 1em);
      margin-bottom: (10 / 16 * 1em);
    }
  }
}

.service_object_list_w {
  padding: 0 0 (30 / 16 * 1em);

  .section_inner {
    z-index: 1;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:after {
    background: url(../i/objects_bg.png) no-repeat 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .service_tab_ph & {
    &:before {
      background: #1d87e4;
      background: -moz-linear-gradient(top, rgba(8, 87, 156, 1) 0%, rgba(29, 135, 228, 1) 48%, rgba(27, 148, 255, 0.68) 100%);
      background: -webkit-linear-gradient(top, rgba(8, 87, 156, 1) 0%, rgba(29, 135, 228, 1) 48%, rgba(27, 148, 255, 0.68) 100%);
      background: linear-gradient(to bottom, rgba(8, 87, 156, 1) 0%, rgba(29, 135, 228, 1) 48%, rgba(27, 148, 255, 0.68) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08579c', endColorstr='#ad1b94ff', GradientType=0);

      //background-image: linear-gradient(0deg, rgba(27, 148, 255, 0.68) 0%, #1d87e4 48%, #08579c 100%);
    }
  }

  .service_tab_ic & {

    &:before {
      background: #f46b65;
      background: -moz-linear-gradient(top, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 0.9) 100%);
      background: -webkit-linear-gradient(top, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 0.9) 100%);
      background: linear-gradient(to bottom, rgba(244, 107, 101, 1) 0%, rgba(231, 66, 62, 0.9) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f46b65', endColorstr='#e6e7423e', GradientType=0);

      background-image: linear-gradient(0deg, #f46b65 0%, #e7423e 100%);
      /* Sketch doesnt export pattern fills at this point */
    }
  }

  .service_tab_at & {

    &:before {
      background: #4caf50;
      background: -moz-linear-gradient(top, rgba(89, 188, 93, 1) 0%, rgba(76, 175, 80, 1) 48%, rgba(44, 123, 48, 0.68) 100%);
      background: -webkit-linear-gradient(top, rgba(89, 188, 93, 1) 0%, rgba(76, 175, 80, 1) 48%, rgba(44, 123, 48, 0.68) 100%);
      background: linear-gradient(to bottom, rgba(89, 188, 93, 1) 0%, rgba(76, 175, 80, 1) 48%, rgba(44, 123, 48, 0.68) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59bc5d', endColorstr='#ad2c7b30', GradientType=0);

      //background-image: linear-gradient(0deg, #59bc5d 0%, #4caf50 48%, #2c7b30 100%);
      /* Sketch doesnt export pattern fills at this point */
    }
  }

  .block_caption_tip {
    opacity: .7;
    //margin-bottom: (35 / 16 * 1em);
    margin-bottom: (23 / 20 * 1em);
  }

  .block_caption_tip,
  .block_caption {
    color: #fff;
  }

  .slider_arrow {
    margin: (3 / 16 * 1em) (6 / 16 * 1em);
  }

  .slider_dots .slick-dots li {
    margin: (8 / 16 * 1em) (10 / 16 * 1em);
  }

  @include respond-to-min($resp_step_2) {
    padding: 0 0 (50 / 16 * 1em);

    &.standalone {
      padding-bottom: (36 / 16 * 1em);
    }
  }

  .hero_block & {
    min-height: (250 / 16 * 1em);
    padding: 0;

    &:before {
      background: #80b9c7;
      background: -moz-linear-gradient(top, #80b9c7 0%, #3b889c 100%);
      background: -webkit-linear-gradient(top, #80b9c7 0%, #3b889c 100%);
      background: linear-gradient(to bottom, #80b9c7 0%, #3b889c 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b9c7', endColorstr='#3b889c', GradientType=0);

      //background-image: linear-gradient(0deg, #80b9c7 0%, #3b889c 100%);

    }

    @include respond-to-min($resp_step_2) {
      min-height: (400 / 16 * 1em);
    }
  }

  .hero_block_small & {
    min-height: (137 / 16 * 1em);
  }
}

.service_range_list_w {
  position: relative;
  margin: (20 / 16 * 1em) (-25 / 16 * 1em) (30 / 16 * 1em);

  @include respond-to-min($resp_step_2) {
    margin: (25 / 16 * 1em) 0 (40 / 16 * 1em);
  }

  .popup_inner & {
    margin: 1.25em -9em 1.875em -1.5625em;
  }
  
  .slick-dots {
    font-size: 0;
    white-space: normal;

    li {
      font-size: 16px;
      box-shadow: 0 (1 / 16 * 1em) (2 / 16 * 1em) rgba(147, 147, 147, .46), inset 0 (1 / 16 * 1em) (2 / 16 * 1em) rgba(147, 147, 147, .46);

      &.slick-active {
        background: #fff;
        cursor: default;
        box-shadow: 0 (1 / 16 * 1em) (2 / 16 * 1em) rgba(147, 147, 147, .46);
      }
    }
  }
}

.service_object_list_w {
  position: relative;
  overflow: hidden;

  .slick-dots {
    font-size: 0;
    white-space: normal;

    li {
      font-size: 16px;
      //box-shadow: 0 (1 / 16 * 1em)  (2 / 16 * 1em)  rgba(147, 147, 147, .46), inset 0 (1 / 16 * 1em)  (2 / 16 * 1em)  rgba(147, 147, 147, .46);
      //
      //&.slick-active {
      //  background: #fff;
      //  cursor: default;
      //  box-shadow: 0 (1 / 16 * 1em)  (2 / 16 * 1em)  rgba(147, 147, 147, .46);
      //}
    }
  }
}

.service_range_controls {
  //position: absolute;
  //bottom: 0;
  //right: 0;
  //left: 0;
  text-align: center;
  white-space: nowrap;
}

.service_object_controls {
  text-align: center;
  white-space: nowrap;
}

.slider_arrow {
  display: inline-block;
  vertical-align: top;
  margin: (8 / 16 * 1em);
  color: #fff;
  font-size: (20 / 16 * 1em);
  cursor: pointer;

  &:before {
    @include transition_all(text-shadow .3s);
  }

  &:hover {
    &:before {
      text-shadow: 0 (5 / 16 * 1em) (6 / 16 * 1em) rgba(0, 0, 0, 0.36);
    }
  }

  &.slick-disabled {
    cursor: default;

    &:before {
      text-shadow: none;
    }
  }
}

.slick-list {
  overflow: hidden;
}

.slider_dots {
  display: inline-block;
  vertical-align: top;

  .slider_arrow + & {
    max-width: 75%;
  }

  .slick-dots {
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;

    li {
      @include transition_all(background .3s, box-shadow .3s);
      display: inline-block;
      vertical-align: top;
      border: (2 / 16 * 1em) solid #fff;
      border-radius: 100%;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      font-size: 16px;
      margin: (8 / 16 * 1em);
      width: (12 / 16 * 1em);
      height: (12 / 16 * 1em);
      box-shadow: 0 (1 / 16 * 1em) (2 / 16 * 1em) rgba(147, 147, 147, .46), inset 0 (1 / 16 * 1em) (2 / 16 * 1em) rgba(147, 147, 147, .46);

      &:hover {
        //box-shadow: 0 (2 / 16 * 1em)  (4 / 16 * 1em)  rgba(0, 0, 0, 0.50);
        box-shadow: 0 (5 / 16 * 1em) (6 / 16 * 1em) rgba(0, 0, 0, 0.36);
      }

      &.slick-active {
        background: #fff;
        cursor: default;
        box-shadow: 0 (1 / 16 * 1em) (2 / 16 * 1em) rgba(147, 147, 147, .46);
        //box-shadow: 0 (2 / 16 * 1em)  (4 / 16 * 1em)  rgba(0, 0, 0, 0.50);
      }

      button {
        font-size: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: none;
      }

      @include respond-to-min($resp_step_2) {
        width: (15 / 16 * 1em);
        height: (15 / 16 * 1em);
      }
    }
  }
}

.slide {

  @include respond-to-max($resp_step_2) {
    font-size: 16px !important;
  }
}

.service_range_list {
  @extend %clearfix;
  margin: (-10 / 16 * 1em) (-10 / 16 * 1em) (-10 / 16 * 1em) (-30 / 16 * 1em);
  overflow: hidden;
  position: relative;
  font-size: 0;
  padding: (10 / 16 * 1em);
  text-align: center;

  .popup_inner & {
    margin-bottom: (20 / 16 * 1em);
  }

  .slick-list {
    overflow: visible;
  }

  .slide {
    @include transition_all(transform .3s);
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    padding-left: (20 / 16 * 1em);
    margin-bottom: (21 / 16 * 1em);

    &.new_line {
      width: 0 !important;
      display: none;
    }

    &.slick-current {
      //@include transform_scale(1.1);

      .service_range_unit {
        margin: (-10 / 16 * 1em) (-10 / 16 * 1em) (-20 / 16 * 1em);
        height: (143 / 16 * 1em);
        overflow: hidden;

        p {
          //min-height: (55 / 16 * 1em) ;
        }
      }

      .service_range_img {
        padding-top: (25 / 16 * 1em);
        margin-bottom: (13 / 16 * 1em);
      }
    }

    @include respond-to-max($resp_step_2) {
      //font-size: 16px !important;
    }
    
    @include respond-to-min($resp_step_2) {
      width: 25%;
      //padding-left: (20 / 16 * 1em) ;
      //margin-bottom: (21 / 16 * 1em) ;

      &.new_line {
        display: inline-block;
        vertical-align: top;
        margin-left: (-19 / 16 * 1em);
      }

      &.slick-current {
        //@include transform_scale(1);

        .service_range_unit {
          margin: 0;
          height: auto;
          overflow: hidden;
        }

        .service_range_img {
          margin-bottom: (20 / 16 * 1em);
          min-height: (100 / 16 * 1em);
          padding-top: (35 / 16 * 1em);
        }
      }
    }
  }
}

.service_object_list {
  @extend %clearfix;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: (10 / 16 * 1em) 0;
  margin: (-20 / 16 * 1em) (-25 / 16 * 1em) 0;

  .slick-list {
    font-size: 0;
    overflow: visible;
  }

  .slide {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    padding: 0 (10 / 16 * 1em);
    margin-bottom: (15 / 16 * 1em);

    &.slick-current {
      //@include transform_scale(1.1);
      //margin-bottom: (-15 / 16 * 1em) ;

      .service_object_unit {
        margin: (-10 / 16 * 1em) (-10 / 16 * 1em) (-20 / 16 * 1em);

        p {
          padding: (14 / 14 * 1em) (10 / 14 * 1em);
        }
      }
    }

    @include respond-to-min($resp_step_2) {
      margin-bottom: (25 / 16 * 1em);

      &.slick-current {
        //@include transform_scale(1);

        .service_object_unit {
          margin: 0;

          p {
            padding: (26 / 20 * 1em) (20 / 20 * 1em);
          }
        }
      }
    }
  }

  @include respond-to-min($resp_step_2) {
    margin: 0 (-10 / 16 * 1em);
    padding: 0;
  }
}

.slick-track {
  @extend %clearfix;
}

.service_range_unit {
  @include transition_all(box-shadow .3s, color .3s);
  border-radius: (5 / 16 * 1em);
  background: #fff;
  overflow: hidden;
  min-height: (124 / 16 * 1em);
  text-align: center;
  cursor: pointer;

  p {
    //font-size: (14 / 16 * 1em);
    font-size: 0.85em;
  }
  
  .service_tab_ph & {
    box-shadow: 0 (4 / 16 * 1em) (4 / 16 * 1em) rgba(43, 92, 136, .17);
  }

  .service_tab_ic & {
    box-shadow: 0 (4 / 16 * 1em) (4 / 16 * 1em) rgba(113, 58, 56, 0.14);
  }

  .service_tab_at & {
    box-shadow: 0 (4 / 16 * 1em) (4 / 16 * 1em) rgba(75, 153, 79, 0.19);
  }

  &:hover {
    color: $clr_blue;
    box-shadow: 0 (5 / 16 * 1em) (10 / 16 * 1em) rgba(18, 36, 52, 0.23);
  }

  @include respond-to-min($resp_step_2) {
    font-size: (16 / 16 * 1em);
    min-height: (190 / 16 * 1em);
  }

  @include respond-to-min($resp_step_2 + $add_step) {

    p {
      font-size: (16 / 16 * 1em);
    }
  }
}

.service_object_unit {
  @include transition_all(box-shadow .3s, margin .3s);
  border-radius: (5 / 16 * 1em);
  overflow: hidden;
  background: #fff;
  text-align: left;
  display: block;
  cursor: pointer;
  margin: 0;
  box-shadow: 0 (4 / 16 * 1em) (4 / 16 * 1em) rgba(33, 60, 34, .24);

  p {
    @include transition_all(padding .3s);
    font-size: (14 / 16 * 1em);
    padding: (10 / 14 * 1em);
    font-weight: 500;
    color: #1d87e4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    //letter-spacing: (.2 / 16 * 1em) ;
  }

  &:hover {
    box-shadow: 0 (10 / 16 * 1em) (18 / 16 * 1em) rgba(18, 36, 53, .23);
  }

  @include respond-to-min($resp_step_2) {
    //min-height: (330 / 16 * 1em) ;

    p {
      font-size: (20 / 16 * 1em);
      padding: (26 / 20 * 1em) (20 / 20 * 1em);
      color: $default_t_color;
    }
  }
}

.service_object_date {
  @extend %clearfix;
  text-align: left;
  position: absolute;
  bottom: (1 / 16 * 1em);
  right: 0;
  left: 0;
  z-index: 1;
  padding: (20 / 16 * 1em);
  color: #fff;
  font-size: (14 / 16 * 1em);
  line-height: (25 / 16 * 1em);
}

.service_object_counter {
  float: right;
}

a.service_object_img {
  display: block;
}

.service_object_img {
  position: relative;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .service_tab_ph & {

    &:before {
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(29, 34, 227, 0.9) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(29, 34, 227, 0.9) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(29, 34, 227, 0.9) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#e61d22e3', GradientType=0);

      background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.00) 46%, rgba(29, 134, 227, 0.90) 100%);
    }

  }

  .service_tab_ic & {

    &:before {
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(231, 65, 62, 0.9) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(231, 65, 62, 0.9) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(231, 65, 62, 0.9) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#e6e7413e', GradientType=0);

      background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.00) 46%, rgba(231, 65, 62, 0.90) 100%);
    }

  }

  .service_tab_at & {

    &:before {
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(76, 175, 80, 0.9) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(76, 175, 80, 0.9) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(76, 175, 80, 0.9) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#e64caf50', GradientType=0);

      background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.00) 46%, rgba(76, 175, 80, 0.90) 100%);
    }

  }

  img {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
}

.review_section {
  position: relative;
  padding-bottom: (7 / 16 * 1em);
  background: #fff;

  //background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 89%, rgba(205, 226, 237, 0.9) 100%);
  //background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 89%, rgba(205, 226, 237, 0.9) 100%);
  //background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 89%, rgba(205, 226, 237, 0.9) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#e6cde2ed', GradientType=0);

  //background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.50) 89%, #eaf2f6 100%);

  @include respond-to-min($resp_step_2) {
    background: #f7f7f7;
    padding-bottom: (40 / 16 * 1em);

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 89%, rgba(234, 242, 246, 1) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 89%, rgba(234, 242, 246, 1) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 89%, rgba(234, 242, 246, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#eaf2f6', GradientType=0);
    }

  }

  //background: #f7f7f7;
  //background-image: linear-gradient(-179deg, rgba(255, 255, 255, 0.50) 89%, #cde2ed 100%);

  @include respond-to-min($resp_step_2) {
    padding-bottom: (60 / 16 * 1em);
  }

}

.review_block {
  padding-top: (37 / 16 * 1em);
  text-align: center;

  .block_caption {
    //font-size: (20 / 16 * 1em) ;
  }

  @include respond-to-min($resp_step_2) {
    //padding-top: (55 / 16 * 1em);
    padding-top: ($section_pt / 16 * 1em);
  }
}

.review_slider_w {
  overflow: hidden;
  padding: (10 / 16 * 1em);
  margin: 0 (-25 / 16 * 1em);
  position: relative;

  @include respond-to-min($resp_step_2) {
    margin: (-10 / 16 * 1em);
  }
}

.review_list {
  @extend %clearfix;
  //margin-left: (-20 / 16 * 1em) ;

  .slide {
    float: left;
    display: block;
  }

  .review_text .slide {
    font-size: (16 / 16 * 1em);
    //padding-left: (20 / 16 * 1em) ;
    margin-bottom: (22 / 16 * 1em);

    @include respond-to-min($resp_step_2) {
      margin-bottom: 0;
    }
  }
}

.review_controls {
  @extend %clearfix;
  position: absolute;
  //bottom: (120 / 16 * 1em);
  bottom: 1em;
  left: 0;
  right: 0;
  text-align: center;
  white-space: nowrap;
  z-index: 1;

  .slider_arrow {
    color: #1d87e4;
    font-size: (28 / 16 * 1em);
    margin: (8 / 28 * 1em);

    &.slider_prev {
      float: left;
    }

    &.slider_next {
      float: right;
    }
  }

  .slick-dots {
    //line-height: (40 / 16 * 1em);
    line-height: 40px;

    li {
      vertical-align: middle;
    }
  }

  @include respond-to-min($resp_step_2) {
    position: relative;
    bottom: auto;
    right: auto;
    left: auto;

    .slider_arrow {
      position: absolute;
      bottom: (245 / 26 * 1em);
      top: auto;
      font-size: (26 / 16 * 1em);

      &.slider_prev {
        //left: (440 / 16 * 1em) ;
        left: 35.5%;
      }

      &.slider_next {
        right: (22 / 16 * 1em);
      }
    }
  }
}

.reviews_holder {
  overflow: hidden;
  position: relative;
  border-radius: (5 / 16 * 1em);
  background: #fff;
  padding: (40 / 16 * 1em) (15 / 16 * 1em);
  box-shadow: 0 (5 / 16 * 1em) (15 / 16 * 1em) rgba(43, 93, 136, .17);

  @include respond-to-min($resp_step_2) {
    padding: 0;
  }
}

.review_author_avatar {
  width: (55 / 16 * 1em);
  height: (55 / 16 * 1em);
  border-radius: 100%;
  overflow: hidden;

  img {
    display: block;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    float: left;
    border-radius: 0;
    width: auto;
    height: auto;
  }
}

.review_author_avatar_slider {

  @include respond-to-min($resp_step_2) {
    float: left;
    border-radius: 0;
    //width: auto;
    height: auto;
    width: 33.5%;
  }
}

.review_author_box {
  position: absolute;
  padding-left: (80 / 16 * 1em);
  padding-right: (15 / 16 * 1em);
  width: 100%;
  top: (40 / 16 * 1em);
  right: 0;

  @include respond-to-min($resp_step_2) {
    position: relative;
    top: auto;
    right: auto;
    padding: 0;
  }
}

.mob_table {
  display: table;
  min-height: (55 / 16 * 1em);
  width: 100%;

  @include respond-to-min($resp_step_2) {
    display: block;
    min-height: 0;
  }
}

.mob_t_cell {
  display: table-cell;
  vertical-align: middle;

  @include respond-to-min($resp_step_2) {
    display: block;
    height: auto;
  }
}

.review_text {
  padding-top: (25 / 16 * 1em);

  p {
    font-size: (14 / 16 * 1em);
    margin-bottom: (15 / 16 * 1em);
    line-height: 1.65;
  }

  @include respond-to-min($resp_step_2) {
    //margin-left: (527 / 16 * 1em) ;
    margin-left: 42.5%;
    padding-top: (52 / 16 * 1em);
    padding-right: (70 / 16 * 1em);

    p {
      font-size: (24 / 16 * 1em);
      line-height: 1.67;
      font-weight: 300;
      letter-spacing: (.25 / 16 * 1em);
      margin-bottom: (14 / 24 * 1em);
    }
  }
}

.review_author_name {
  color: #4a5669;
  font-weight: 500;
  //margin-bottom: (15 / 16 * 1em);

  @include respond-to-min($resp_step_2) {
    font-size: (20 / 16 * 1em);
    color: #9aa8be;
    font-weight: 300;
    padding-left: (20 / 16 * 1em);
    margin-bottom: (5 / 16 * 1em);
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: (10 / 16 * 1em);
      height: (1 / 16 * 1em);
      margin-top: (-2 / 16 * 1em);
      background: #9aa8be;
    }
  }
}

.review_author_post {
  color: #9aa8be;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: (38 / 16 * 1em);

  @include respond-to-min($resp_step_2) {
    color: #cad3db;
    padding-left: (20 / 16 * 1em);
    font-size: (14 / 16 * 1em);
    font-weight: 400;
    max-height: none;
  }

}

.review_unit {
  //padding-left: (20 / 16 * 1em) ;
}

.review_unit_controls {
  @extend %clearfix;
  padding-top: (22 / 16 * 1em);
  margin-top: 1.6em;
  position: relative;
  text-align: center;

  &:before {
    height: (1 / 16 * 1em);
    content: '';
    position: absolute;
    top: -8 / 16 * 1em;
    right: (-15 / 16 * 1em);
    left: (-15 / 16 * 1em);
    background: #e7e9eb;
  }

  @include respond-to-min($resp_step_2) {
    margin: 0;
    padding-top: (25 / 16 * 1em);
    //padding-left: (18 / 16 * 1em);
    text-align: left;

    &:before {
      display: none;
    }
  }
}

.contacts_block {
  padding-top: .75em;
  text-align: center;

  @include respond-to-max($resp_step_2) {
    padding-top: (20 / 16 * 1em);
    
    .contacts_page & {
      padding-top: (35 / 16 * 1em);
    }
  }

  @include respond-to-min($resp_step_2) {
    //padding-top: (55 / 16 * 1em);
    padding-top: ($section_pt / 16 * 1em);

    .contacts_page & {
      padding-top: (40 / 16 * 1em);
    }
  }
}

.map_holder {
  position: relative;
}

.mob_map_switcher {
  @extend %clearfix;
  position: relative;
  z-index: 2;
  padding-top: (10 / 16 * 1em);
}

.map_info {
  position: relative;

  @include respond-to-min($resp_step_2) {
    position: absolute;
    top: 0;
    height: 0;
    left: 0;
    right: 0;
    z-index: 2;

    .section_inner {
      height: 0;
    }
  }
}

.map_w {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: (320 / 16 * 1em);

  &:before {
    pointer-events: none;
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 30%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);

  }

  @include respond-to-min($resp_step_2) {
    height: (625 / 16 * 1em);
  }
}

.map_block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contacts_col {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: -20 / 16 * 1em;
    left: -25 / 16 * 1em;
    right: -25 / 16 * 1em;
    background: #f7f7f7;
  }

  @include respond-to-min($resp_step_2) {
    float: left;
    width: 49.2%;
    min-width: (600 / 16 * 1em);
    box-shadow: 0 (2 / 16 * 1em) (15 / 16 * 1em) rgba(0, 0, 0, .26);

    &:before {
      display: none;
    }
  }
}

.office_block {
  //padding-top: (33 / 16 * 1em);
  padding-top: 1.625em;
  display: none;
  position: relative;

  &.office_current {
    display: block;
  }

  @include respond-to-min($resp_step_2) {
    padding: (35 / 16 * 1em) (65 / 16 * 1em) (15 / 16 * 1em);
    cursor: pointer;
    display: block;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
    }

    &:after {
      @include transition_all(background .3s);
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: .7;
      background: #434343;
    }

    &.office_spb {

      &:before {
        opacity: .5;
        background: url(../i/office_spb.jpg) no-repeat 50%;
      }
    }

    &.office_msc {

      &:before {
        background: url(../i/office_msc.jpg) no-repeat 50%;
        background-color: rgba(67, 67, 67, .7);
      }
    }

    &:hover {

      &:after {
        background-color: #e7423e;
      }

    }

    &.office_current {
      .active_arrow {
        opacity: .7;
      }

      &:after {
        background-color: #e7423e;
      }
    }

  }

  &:before {

  }

}

.contacts_caption {
  position: relative;
  text-transform: uppercase;
  letter-spacing: (2 / 16 * 1em);
  line-height: (28 / 16 * 1em);
  font-weight: 500;
  margin-bottom: (17 / 16 * 1em);
  padding-bottom: (11 / 16 * 1em);

  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: (40 / 16 * 1em);
    height: (1 / 16 * 1em);
    min-height: 1px;
    background: $default_t_color;
  }

  @include respond-to-min($resp_step_2) {
    color: #fff;
    margin-bottom: (28 / 16 * 1em);
    padding-top: (12 / 16 * 1em);
    padding-bottom: .5em;

    &:before {
      background: #fff;
    }
  }
}

.active_arrow {
  position: absolute;
  top: 50%;
  margin-top: (-32 / 16 * 1em);
  left: 100%;
  border-top: (32 / 16 * 1em) solid transparent;
  border-bottom: (32 / 16 * 1em) solid transparent;
  border-left: (25 / 16 * 1em) solid #e7423e;
  opacity: 0;
}

.contact_icon {
  display: block;
  font-size: (18 / 16 * 1em);
  width: (25 / 16 * 1em);
  //margin-bottom: (5 / 16 * 1em);
  margin-bottom: .525em;

  @include respond-to-min($resp_step_2) {
    display: inline-block;
    vertical-align: middle;
    margin-left: (-25 / 16 * 1em);
    margin-bottom: 0;
  }
}

.contacts_list_w {
  @extend %clearfix;

  @include respond-to-min($resp_step_2) {
    position: relative;
    z-index: 1;
    max-width: (465 / 16 * 1em);
  }
}

.contacts_list {
  font-weight: 300;
  font-size: (14 / 16 * 1em);

  dd, dt {
    display: block;
  }

  dd {
    //margin-bottom: (14 / 16 * 1em);
    margin-bottom: 0.65em;
    line-height: 1.4;

    p {
      margin-bottom: (4 / 16 * 1em);
    }

  }

  dt {
    margin-bottom: (10 / 16 * 1em);
  }

  @include respond-to-min($resp_step_2) {
    float: left;
    width: 50%;
    color: #fff;
    font-size: (16 / 16 * 1em);
    color: rgba(255, 255, 255, .6);

    &.contacts_list_right {
      float: right;
    }

    .fw_500 {
      color: #fff;
    }

    dt {
      //margin-bottom: (6 / 16 * 1em);
      margin-bottom: .3em;
    }

    dd {
      margin-bottom: (20 / 16 * 1em);
    }
  }

}

.contact_link {
  color: $default_t_color;
}

.contact_tip {
  font-size: (14 / 16 * 1em);
}

.feedback_block {
  @extend %clearfix;
  padding-top: 4.125em;
  text-align: center;

  @include respond-to-min($resp_step_2) {
    //padding-top: (50 / 16 * 1em);
    padding-top: ($section_pt / 16 * 1em);
  }
}

.feedback_form_holder {
  margin-bottom: (40 / 16 * 1em);

  .f_input_v1 {
    //text-align: center;
  }

  @include respond-to-min($resp_step_2) {
    float: left;
    width: 50%;
    padding: 0 1.6% 0 4.6%;
    max-width: (520 / 16 * 1em);
    margin-bottom: (32 / 16 * 1em);

    .contacts_page & {
      margin-bottom: (36 / 16 * 1em);
    }

    .f_input_v1 {
      //text-align: left;
    }
  }
}

.feedback_info_holder {

  @include respond-to-min($resp_step_2) {
    float: right;
    width: 50%;
    padding: 0 1.6%;
    max-width: (520 / 16 * 1em);
  }
}

.feedback_form_caption {
  position: relative;
  padding-bottom: (22 / 16 * 1em);
  font-weight: 500;
  letter-spacing: (2 / 16 * 1em);
  margin-top: (-5 / 16 * 1em);

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: (40 / 16 * 1em);
    height: (2 / 16 * 1em);
    background: #cad3db;
  }
}

.feedback_contacts {
  margin-bottom: (-42 / 16 * 1em);
  position: relative;
  z-index: 1;

  dt {
    display: block;
    color: #9aa8be;
    font-size: (18 / 16 * 1em);
    margin-top: (16 / 16 * 1em);
    margin-bottom: (6 / 16 * 1em);
  }

  dd {
    display: block;
    margin-bottom: (30 / 16 * 1em);
  }

}

.feedback_img {
  margin-left: -7.5%;

  img {
    display: block;
    max-width: 100%;
  }
}

.insta_block {
  @extend %clearfix;
  padding-top: (40 / 16 * 1em);
  text-align: center;

  @include respond-to-min($resp_step_2) {
    padding-top: ($section_pt / 16 * 1em);
  }
}

.insta_section {
  position: relative;
  //background: -moz-linear-gradient(top, rgba(205, 226, 237, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
  //background: -webkit-linear-gradient(top, rgba(205, 226, 237, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
  //background: linear-gradient(to bottom, rgba(205, 226, 237, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cde2ed', endColorstr='#80ffffff', GradientType=0);

  background: #f7f7f7;
  //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #cde2ed 100%);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: -moz-linear-gradient(top, rgba(234, 242, 246, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    background: -webkit-linear-gradient(top, rgba(234, 242, 246, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    background: linear-gradient(to bottom, rgba(234, 242, 246, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf2f6', endColorstr='#80ffffff', GradientType=0);

    //background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 91%, #eaf2f6 100%);
  }

}

.insta_icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: (16 / 22 * 1em);
  margin-left: (-8 / 22 * 1em);
  max-width: (30 / 22 * 1em);

  img {
    display: block;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    max-width: none;
    margin-right: (16 / 32 * 1em);
    margin-left: (-8 / 32 * 1em);    
  }
}

.insta_list {
  @extend %clearfix;
  margin: 0 auto;
  padding-top: (15 / 16 * 1em);
  position: relative;
  //max-width: $content-max-w;

  li {
    float: left;
    width: 33.33%;
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 0;

    li {
      width: 25%;

      &:nth-child(n+9) {
        display: none;
      }
    }
  }
}

.insta_unit {

  img {
    display: block;
    width: 100%;
  }
}

