.project_section {
  position: relative;
  background: #f7f7f7;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(234, 241, 245, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    background: -webkit-linear-gradient(top, rgba(234, 241, 245, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    background: linear-gradient(to bottom, rgba(234, 241, 245, 1) 0%, rgba(255, 255, 255, 0.5) 9%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf1f5', endColorstr='#80ffffff', GradientType=0);
  }

}

.service_spec_block {
  @extend %clearfix;
  padding-top: (53 / 16 * 1em);
  position: relative;
  //overflow: hidden;

  @include respond-to-min($resp_step_2) {
    min-height: (405 / 16 * 1em);

    &.project_mod {
      min-height: (470 / 16 * 1em);
    }

    &.left_mod {
      .about_block {
        float: left;
        padding-left: 0;
        padding-right: 1%;
      }

      .service_img_w {
        left: auto;
        right: -4%;
        //top: (30 / 16 * 1em);
        top: 2.875em;
      }
    }

    &.left_mod_2 {
      padding-bottom: (25 / 16 * 1em);

      .about_block {
        float: left;
        padding-left: 0;
        padding-right: 1%;
      }

      .service_img_w {
        left: auto;
        right: -4%;
        width: 55%;
        top: auto;
        bottom: (-20 / 16 * 1em);
      }
    }
  }
}

.service_img_w {
  text-align: center;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    width: 50%;
    position: absolute;
    top: (10 / 16 * 1em);
    left: -3%;

    &.at_prod_mod {
      left: -6%;
      top: (25 / 16 * 1em);
    }

    &.guarant_mod {
      top: (205 / 16 * 1em);
      left: -6.5%;
    }

    &.project_mod {
      right: 0;
      bottom: 0;
      left: -8%;
      top: 0;
      width: 57.5%;
    }
  }
}

.service_scroll {
  //display: table;
  //width: 100%;
  @extend %clearfix;
  font-size: 0;

  > li {
    //display: table-cell;
    //vertical-align: top;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    text-align: center;
    width: 100%;
  }

  &.col_4 {
    padding-bottom: (45 / 16 * 1em);

    > li {
      
      @include respond-to-min($resp_step_2) {
        width: 25%;
      }
    }
  }

  &.col_5 {
    padding-bottom: (25 / 16 * 1em);

    > li {
 
      @include respond-to-min($resp_step_2) {
        width: 20%;
      }
    }
  }
}

.service_scroll_item {

  .col_4 & {
    padding: (17 / 16 * 1em) 0;
  }

  .col_5 & {
    padding: (30 / 16 * 1em) 0 2.4em;
 
    @include respond-to-min($resp_step_2 + 200) {
      margin: 0 (-10 / 16 * 1em);
    }
  }

  p {
    line-height: 1.5;
    letter-spacing: (1.8 / 16 * 1em);
  }
}

.service_scroll_img {
  min-height: (100 / 16 * 1em);
  line-height: (90 / 16 * 1em);
  padding-bottom: (10 / 16 * 1em);

  img {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
}

.service_feature_list {
  margin: (-5 / 16 * 1em) 0 (50 / 16 * 1em);

  &.mod_1 {

    @include respond-to-min($resp_step_2) {
      margin-left: (-40 / 16 * 1em);
    }
  }

  li {
    @extend %icon_pseudo;
    position: relative;
    padding-left: (40 / 16 * 1em);
    font-size: (18 / 16 * 1em);
    line-height: 1.6;
    margin-bottom: (16 / 16 * 1em);

    &:after {
      content: $i-check;
      color: #fff;
      font-size: (22 / 16 * 1em);
      font-weight: bold;
      line-height: (16 / 16 * 1em);
      text-align: right;
      width: (24 / 22 * 1em);
      height: (24 / 22 * 1em);
      border-radius: (5 / 22 * 1em);
      margin-top: (-1 / 22 * 1em);
      z-index: 1;
      text-shadow: 0 (1 / 22 * 1em) (2 / 22 * 1em) rgba(106, 40, 38, .3);
    }

    &:after,
    &:before {
      position: absolute;
      top: 0;
      left: 0;
    }

    &:before {
      content: '';
      border-radius: 100%;
      width: (20 / 16 * 1em);
      height: (20 / 16 * 1em);
      background: #61a4df;
      background: -moz-linear-gradient(top, #61a4df 0%, #1d87e4 100%);
      background: -webkit-linear-gradient(top, #61a4df 0%, #1d87e4 100%);
      background: linear-gradient(to bottom, #61a4df 0%, #1d87e4 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61a4df', endColorstr='#1d87e4', GradientType=0);
    }
  }
}

.partners_list_w {
  margin: (-25 / 16 * 1em) auto 0;
  max-width: (1030 / 16 * 1em);
  padding-bottom: (40 / 16 * 1em);

  .popup_inner & {
    margin: 0;

    &:last-child {
      padding: 0;
    }
  }
}

.partners_list {
  @extend %clearfix;
  margin-left: (-20 / 16 * 1em);
  text-align: center;

  > li {
    padding-left: (20 / 16 * 1em);

    @include respond-to-min($resp_step_2) {
      float: left;
      width: 20%;
    }
  }
}

.partner_scope {
  min-height: (175 / 16 * 1em);
  margin-bottom: (10 / 16 * 1em);

  p {
    font-weight: 500;
    letter-spacing: (2 / 16 * 1em);
    line-height: 1.5;
  }
}

.partner_scope_img {
  line-height: (90 / 16 * 1em);
  margin-bottom: (10 / 16 * 1em);

  img {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
}

.partner_unit {
  display: block;
  line-height: (115 / 16 * 1em);
  border-radius: (5 / 16 * 1em);
  background: #fff;
  box-shadow: 0 (4 / 16 * 1em) (4 / 16 * 1em) rgba(43, 92, 136, 0.17);
  margin-bottom: (20 / 16 * 1em);

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    line-height: 1;
  }
}

.service_description {
  font-size: (16 / 16 * 1em);
  line-height: (28 / 16 * 1em);
  margin: (-10 / 16 * 1em) auto (25 / 16 * 1em);
  max-width: (820 / 16 * 1em);
}

.service_description_img {
  padding: 1.25em 0 0 (60 / 16 * 1em);
  text-align: center;

  img {
    display: inline-block;
    vertical-align: top;
  }
}

.fader_controls {
  position: absolute;
  top: 50%;
  right: -3em;
  left: -3em;
  margin-top: -1.5em;

  .slider_next,
  .slider_prev {
    position: absolute;
    top: 0;
    color: $clr_blue;
    font-size: 2em;
  }

  .slider_prev {
    left: 0;
  }

  .slider_next {
    right: 0;
  }
}

.popup_object_img {
  position: relative;

  .slick-track {
    @extend %clearfix;
  }
  
  .slide {
    float: left;
    position: relative;
  }
  
  img {
    display: block;
    width: 100%;
  }
}

.popup_object_info {
  @extend %icon_pseudo;
  font: 300 (20 / 16 * 1em) $Roboto;
  position: absolute;
  top: (20 / 20 * 1em);
  left: (20 / 20 * 1em);
  color: #fff;
  padding: (10 / 20 * 1em) (16 / 20 * 1em) (10 / 20 * 1em) (50 / 20 * 1em);
  background: rgba(0, 0, 0, 0.46);
  box-shadow: 0 (5 / 20 * 1em) (15 / 20 * 1em) 0 rgba(0, 0, 0, 0.35);
  border-radius: (100 / 20 * 1em);

  &:before {
    content: $i-ruler;
    position: absolute;
    height: 1.4em;
    width: 1.4em;
    margin-top: -0.7em;
    left: 0.375em;
    top: 50%;
    font-size: 1.6em;
    line-height: 1.4em;
  }
}

.popup_object_slider {
  margin-bottom: (50 / 16 * 1em);

  .slide {
    cursor: pointer;
    float: left;
    position: relative;

    &:before {
      @include transition_all(border .3s);
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: (3 / 16 * 1em) solid transparent;
    }

    img {
      display: block;
      width: 100%;
    }

    &.slick-current {
      //cursor: default;
      
      &:before {
        //border: (3 / 16 * 1em) solid #e7423e;
      }
    }
    
    &.fader-current {
      //cursor: default;
      
      &:before {
        border: (3 / 16 * 1em) solid #e7423e;
      }
    }
  }
}

.popup_object_slide_counter {
  text-align: center;
  padding: (17 / 16 * 1em);
  font-weight: 500;
}

.service_section {
  overflow: hidden;
  position: relative;
  min-height: (470 / 16 * 1em);

  > .service_img_w {
    left: 0;
    bottom: 0;
    top: auto;
    text-align: left;
  }
}