include mixins
doctype html
html(lang='ru')
    +dev_head('Air Шаг 1 из 2', false, false, false, false, false, false, true)

    body.open_tabs
        .wrapper
            //.rect_1024
            .base
                +header(0)

                +breadcrumbs(['← Вернуться назад'])

                div.main_content
                    .section_inner
                        .calc_holder
                            .block_caption Шаг 1 из 2

                            ul.calc_steps
                                li.active
                                    .calc_step_btn
                                        span.calc_step_text ОБЩАЯ ИНФОРМАЦИЯ
                                li
                                    .calc_step_btn
                                        span.calc_step_text ИНЖЕНЕРНЫЕ СЕТИ

                            form(action='#')
                                .calc_section
                                    .block_caption Общая Информация
                                    .calc_block
                                        .calc_form_col
                                            .form_cell.form_cell_v1
                                                label.f_label_v1(for='object_name') Название обьекта
                                                .input_w
                                                    input#object_name.f_input_v1.f_input(value='Проетиновый завод “Курицын”')

                                            .form_cell.form_cell_v1
                                                label.f_label_v1(for='object_type') Тип здания
                                                .input_w
                                                    select#object_type.select2(data-select-class='select_v1')
                                                        option Административное
                                                        option Административное 2
                                                        option Административное 3

                                            .form_cell.form_cell_v1
                                                label.f_label_v1(for='object_space')
                                                    | Площадь объекта 
                                                    span.f_label_tip (кв/м)
                                                .input_w.increase_box
                                                    input#object_space.f_input_v1.f_input(value='600')
                                                    span.increase_btn.minus &mdash;
                                                    span.increase_btn.plus +

                                .calc_section
                                    .block_caption Разделы
                                    .calc_block
                                        .calc_form_col
                                            .form_cell.form_cell_v1
                                                label.f_label_v1(for='attach_1') AP
                                                .input_w
                                                    input#attach_1.inp_hidden(type='file')
                                                    .input_tip Разрезы, фасады, экспликация, категория помещений по пожароопасности, ведомость отделки потолков
                                                    .f_input_v1.f_input http://www.radikal.ru/pff/sdd/project/ap/1233/pff/sdd/project/ap/1233/
                                                    label.attach_link(for='attach_1') Прикрепить файл
                                                    
                                            .form_cell.form_cell_v1
                                                label.f_label_v1(for='attach_2') TX
                                                .input_w
                                                    input#attach_2.inp_hidden(type='file')
                                                    .input_tip Pасстановка технологического оборудования  <br>  с&nbsp;привязками
                                                    .f_input_v1.f_input
                                                        span.input_place_holder Укажите ссылку
                                                    label.attach_link(for='attach_2') Прикрепить файл
                                                    
                                            .form_cell.form_cell_v1
                                                label.f_label_v1(for='attach_5') KM
                                                .input_w
                                                    input#attach_5.inp_hidden(type='file')
                                                    .f_input_v1.f_input
                                                        span.input_file_val kж_top.jpeg 
                                                            span.input_place_holder (16 MB)
                                                    label.rm_link(for='attach_5') Удалить файл 
                                                    
                                            .form_cell.form_cell_v1
                                                label.f_label_v1(for='attach_3') КЖ
                                                .input_w
                                                    input#attach_3.inp_hidden(type='file')
                                                    .f_input_v1.f_input
                                                        span.input_place_holder Укажите ссылку
                                                    label.attach_link(for='attach_3') Прикрепить файл
                                                    
                                            .form_cell.form_cell_v1
                                                label.f_label_v1(for='attach_4') Дизайн
                                                .input_w
                                                    input#attach_4.inp_hidden(type='file')
                                                    .f_input_v1.f_input
                                                        span.input_place_holder Укажите ссылку
                                                    label.attach_link(for='attach_4') Прикрепить файл
                                                    
                                .calc_step_controls
                                    a.btn_v2.btn_red.calc_step_link(href='calc_22.html') СЛЕДУЮЩИЙ ШАГ →
                                                    

            +footer()
            //-+popups()
            +index_popup()