include mixins
doctype html
html(lang='ru')
    +dev_head('Air Шаг 1 из 2', true)

    body.open_tabs
        .wrapper
            //.rect_1024
            .base
                +header(0)

                div.main_content
                    
                    
            +footer()
            //-+popups()
            +index_popup()