include mixins
doctype html
html(lang='ru')
    +dev_head('Air Инжиниринговый Генподряд', false,false,false,false,false, true)

    body.open_tabs
        .wrapper
            //.rect_1024
            .base
                +header(3)

                div.main_content
                    .service_tab_ic.service_tab.standalone 
                        .service_block_w
                            .section_inner
                                .service_block
                                    .service_img
                                        img(src='i/svg/engineering_contract.svg')
                                        //-+service_ph()
                                    .service_info
                                        .service_caption Инжиниринговый Генподряд

                                        .block_caption_tip Предлагаем комплексные решения по проектированию, монтажу и обслуживанию всех типов инженерных систем
        
                                        p В современном здании все инженерные сети взаимосвязаны, и отказ одной системы может повлиять на работоспособность остальных.
        
                                        p Мы рассматриваем инженерные системы в качестве единого механизма, который позволяет Поэтому создать и поддерживать параметры микроклимата здания в целом и каждого помещения в отдельности в соответствие с нормативными документами, техническим заданием заказчика либо по требованиям технологии не зависимо от погодных условий за окном.
                                        
                                        p В своих проектах мы предусматриваем экономичные и надёжные в эксплуатации системы, учитывающие все особенности планируемого здания. Наш опыт дал возможность применения типовых наработанных решений, что ускоряет производственный процесс, как в проектных работах, так и на строительной площадке. Мы стремимся к тому, чтобы наши системы были удобными, практичными и экономичными в использовании.
    
                    .section_inner
                        .service_spec_block.project_mod
                            .service_img_w.project_mod
                                img(src='i/ic_project.png')
                            
                            .about_block
                                h3.block_caption Проектирование
                                .block_caption_tip AIR TECHNOLOGY - максимально надеждное и эффективное решение
    
                                p Мы возьмём на себя весь комплекс услуг генподрядчика по проектированию инженерных систем для зданий. Воспользовавшись нашими услугами, Вы получите максимально надежное и эффективное решение, разработанное с учетом Ваших требований и пожеланий, специфики объекта и всех необходимых норм. 
    
                                p Комплексное проектирование инженерных сетей позволяет сократить строительные затраты, избежать ошибок и гарантированно уложится в установленные сроки реализации объекта.

                                    
                    .project_section
                        .section_inner
                            .service_range
                                h3.block_caption Сферы
                                .block_caption_tip Осуществляем инжиринговый генподряд для любых  <br>  типов зданий
                                    
                            ul.service_scroll.col_4
                                li
                                    .service_scroll_item
                                        .service_scroll_img
                                            img(src='i/svg/ic_proj_1.svg')
                                        p ГИПЕРМАРКЕТ
                                        
                                li
                                    .service_scroll_item
                                        .service_scroll_img
                                            img(src='i/svg/ic_proj_2.svg')
                                        p СКЛАД
                                        
                                li
                                    .service_scroll_item
                                        .service_scroll_img
                                            img(src='i/svg/ic_proj_3.svg')
                                        p ПРОИЗВОДСТВЕННЫЙ<br>КОМПЛЕКС
                                        
                                li
                                    .service_scroll_item
                                        .service_scroll_img
                                            img(src='i/svg/ic_proj_4.svg')
                                        p ЖИЛОЙ ДОМ
                                        
                                li
                                    .service_scroll_item
                                        .service_scroll_img
                                            img(src='i/svg/ic_proj_5.svg')
                                        p АВТОСАЛОН
                                li
                                    .service_scroll_item
                                        .service_scroll_img
                                            img(src='i/svg/ic_proj_6.svg')
                                        p БИЗНЕС-<br>ЦЕНТР
                                        
                                li
                                    .service_scroll_item
                                        .service_scroll_img
                                            img(src='i/svg/ic_proj_7.svg')
                                        p СПОРТИВНЫЙ<br>КОМПЛЕКС
                                        
                                li
                                    .service_scroll_item
                                        .service_scroll_img
                                            img(src='i/svg/ic_proj_8.svg')
                                        p КРЫТАЯ<br>АВТОСТОЯНКА
                                        
                                li
                                    .service_scroll_item
                                        .service_scroll_img
                                            img(src='i/svg/ic_proj_9.svg')
                                        p МЕДИЦИНСКИЕ<br>УЧРЕЖДЕНИЯ
                                        
                                li
                                    .service_scroll_item
                                        .service_scroll_img
                                            img(src='i/svg/ic_proj_10.svg')
                                        p АПАРТ-ОТЕЛЬ
                                li
                                    .service_scroll_item
                                        .service_scroll_img
                                            img(src='i/svg/ic_proj_11.svg')
                                        p ГОСТИНИЦА

                    .section_inner
                        .service_spec_block.left_mod_2
                            .about_block
                                h3.block_caption Монтаж
                                .block_caption_tip AIR TECHNOLOGY - качественное проведение монтажных работ

                                p Мы устанавливаем и настраиваем профессиональную технику и обеспечиваем ее правильное и долговечное функционирование. Все работы проводятся в соответствии со строительными нормами и правилами безопасности. По окончании монтажа мы выполняем пуско-наладочные работы, передаём исполнительную документацию и паспортизацию систем. (
                                    b Также для удобства заказчика у нас создан 
                                        a.clr_blue(href='#') «виртуальный офис в облаке»
                                        | , в котором вы всегда сможете в любое время найти интересующую информацию по Вашему проекту
                                    | ) 
                                p Наши специалисты проходят обучение у ведущих производителей инженерной техники и имеют соответствующие сертификаты. Наши знания и опыт позволяют нам с успехом решать даже самые сложные задачи. 
                                
                                p Качественное проведение монтажных работ в рамках инжинирингового генподряда позволит вам получить весь комплекс профессиональных услуг за меньшие деньги и обеспечить надежную и долговечную работу техники.

                            .service_img_w
                                img(src='i/ic_spec_1.png')

                    .service_tab_ic
                        .service_range_w.dt_grad
                            .section_inner
                                .service_range
                                    h3.block_caption Спектр Услуг
                                    .block_caption_tip.mob_hidden Решаем сложные задачи в области инжиниринговых систем.<br>Колосальный опыт, лучшие специалисты.
                                    .block_caption_tip.dt_hidden Широкий спектр профессиональных услуг

                                .service_range_list_w
                                    .service_range_list.rangeSlider
                                        .slide
                                            .service_range_unit.serviceBtn
                                                .service_range_img
                                                    img.fitImage(src='i/svg/ic_service_1.svg' )
                                                p Системы водоснабжения<br>и канализация

                                        .slide
                                            .service_range_unit.serviceBtn
                                                .service_range_img
                                                    img.fitImage(src='i/svg/ic_service_2.svg' )
                                                p Системы теплоснабжения и<br>отопления

                                        .slide
                                            .service_range_unit.serviceBtn
                                                .service_range_img
                                                    img.fitImage(src='i/svg/ic_service_3.svg' )
                                                p Автоматизация и диспетчеризация<br>инжинерных систем

                                        .slide.new_line

                                        .slide
                                            .service_range_unit.serviceBtn
                                                .service_range_img
                                                    img.fitImage(src='i/svg/ic_service_4.svg' )
                                                p Вентиляция и кондиционирование<br>воздуха 

                                        .slide
                                            .service_range_unit.serviceBtn
                                                .service_range_img
                                                    img.fitImage(src='i/svg/ic_service_5.svg' )
                                                p Теплогенерирующие<br>установки

                                    .service_range_controls.dt_hidden
                                        .slider_dots

                    .section_inner
                        .service_range
                            h3.block_caption Поставка оборудования
                            .block_caption_tip Компания AIR TECHNOLOGY использует оборудование от<br>ведущих мировых производителей. 
                                
                        .partners_list_w
                            ul.partners_list
                                li
                                    .partner_scope
                                        .partner_scope_img
                                            img(src='i/svg/ic_equip_1.svg')
                                        p ЭЛЕКТРИЧЕСТВО
                                
                                    .partner_unit
                                        img(src='i/ic_equip_1_partner_1.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_1_partner_2.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_1_partner_3.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_1_partner_4.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_1_partner_5.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_1_partner_6.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_1_partner_7.png')
                                
                                li
                                    .partner_scope
                                        .partner_scope_img
                                            img(src='i/svg/ic_equip_2.svg')
                                        p ТЕПЛО
                                
                                    .partner_unit
                                        img(src='i/ic_equip_2_partner_1.png')
                                    .partner_unit
                                        img(src='i/ic_equip_2_partner_2.png')
                                    .partner_unit
                                        img(src='i/ic_equip_2_partner_3.png')
                                    .partner_unit
                                        img(src='i/ic_equip_2_partner_4.png')
                                    .partner_unit
                                        img(src='i/ic_equip_2_partner_5.png')
                                    .partner_unit
                                        img(src='i/ic_equip_2_partner_6.png')
                                    .partner_unit
                                        img(src='i/ic_equip_2_partner_7.png')
                                    .partner_unit
                                        img(src='i/ic_equip_2_partner_8.png')
                                
                                li
                                    .partner_scope
                                        .partner_scope_img
                                            img(src='i/svg/ic_equip_3.svg')
                                        p ВОДА
                                
                                    .partner_unit
                                        img(src='i/ic_equip_3_partner_1.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_3_partner_2.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_3_partner_3.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_3_partner_4.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_3_partner_5.png')
                                        
                                    .partner_unit
                                        img(src='i/ic_equip_3_partner_6.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_3_partner_7.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_3_partner_8.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_3_partner_9.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_3_partner_10.png')

                                li
                                    .partner_scope
                                        .partner_scope_img
                                            img(src='i/svg/ic_equip_4.svg')
                                        p ВОЗДУХ
                                
                                    .partner_unit
                                        img(src='i/ic_equip_4_partner_1.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_4_partner_2.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_4_partner_3.png')  
                                        
                                    .partner_unit
                                        img(src='i/ic_equip_4_partner_4.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_4_partner_5.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_4_partner_6.png')  
                                        
                                    .partner_unit
                                        img(src='i/ic_equip_4_partner_7.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_4_partner_8.png') 
                                        
                                    .partner_unit
                                        img(src='i/ic_equip_4_partner_9.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_4_partner_10.png')
                                    
                                li
                                    .partner_scope
                                        .partner_scope_img
                                            img(src='i/svg/ic_equip_5.svg')
                                        p ГАЗ
                                
                                    .partner_unit
                                        img(src='i/ic_equip_5_partner_1.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_5_partner_2.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_5_partner_3.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_5_partner_4.png')
                                
                                    .partner_unit
                                        img(src='i/ic_equip_5_partner_5.png')
                                        
                                    .partner_unit
                                        img(src='i/ic_equip_5_partner_6.png')
                                
                    .service_tab_ic
                        .service_object_list_w
                            .section_inner
                                .service_range
                                    h3.block_caption Наши Обьекты
                                    .block_caption_tip.mob_hidden Разработка систем холодоснабжения для складских,  <br>  производственных и торговых помещений
                                    .block_caption_tip.dt_hidden Портфолио выполненных работ
    
                            +objectSlider()
                            
            +footer()
            +object_popup()
            +index_popup()