include mixins
doctype html
html(lang='ru')
    +dev_head('Air Новости', false, false, true)

    body.open_tabs
        .wrapper
            //.rect_1024
            .base
                +header(4)

                +news_hero()
                
                +breadcrumbs(['Главная', 'Новости'])
                
                div.main_content
                    .news_section 
                        .section_inner.clearfix

                            .news_block
                                .block_caption Все Новости
                                .block_caption_tip Читайте только самые свежие новости
                                
                            .service_tab_ph
                                ul.news_list.fitRowHeight
                                    +loop_while(4)
                                        li
                                            .news_unit
                                                a.service_object_img(href='news_1.html')
                                                    img(src='i/object_1.jpg')
                                                    .service_object_date 1 месяц назад
                                                .news_description
                                                    .news_caption 
                                                        a.gl_link.clr_blue.fw_500(href='#') Открылся центр исполнения заказов «Юлмарт»
                                                    p Компания AIR TECHNOLOGY завершила монтаж пания AIR TECHNOLOGY завершила монтаж инженерных систем в пригородном центре исполнения…
                                        li
                                            .news_unit
                                                a.service_object_img(href='news_1.html')
                                                    img(src='i/object_1.jpg')
                                                    .service_object_date 1 месяц назад
                                                .news_description
                                                    .news_caption 
                                                        a.gl_link.clr_blue.fw_500(href='#') Открылся центр исполнения заказов «Юлмарт»
                                                    p Компания AIR TECHNOLOGY завершила монтаж инженерных систем в пригородном центре исполнеания AIR TECHNOLOGY завершила монтаж инженерных систем в пригородном центре исполнеания AIR TECHNOLOGY завершила монтаж инженерных систем в пригородном центре исполнения…
                                        li
                                            .news_unit
                                                a.service_object_img(href='news_1.html')
                                                    img(src='i/object_1.jpg')
                                                    .service_object_date 1 месяц назад
                                                .news_description
                                                    .news_caption 
                                                        a.gl_link.clr_blue.fw_500(href='#') Открылся центр исполнения заказов «Юлмарт»
                                                    p Компания AIR TECHNOLOGY завершила монтаж пания AIR TECHNOLOGY завершила монтаж инженерных систем в пригородном центре исполнения…
                                        li
                                            .news_unit
                                                a.service_object_img(href='news_1.html')
                                                    img(src='i/object_1.jpg')
                                                    .service_object_date 1 месяц назад
                                                .news_description
                                                    .news_caption 
                                                        a.gl_link.clr_blue.fw_500(href='#') Открылся центр исполнения заказов «Юлмарт»
                                                    p Компания AIR TECHNOLOGY завершила монтаж инженерных систем в пригородном центре исполнения…
    
                           .text_center
                               a.btn_v1.more_btn.btn_white_blue_2(href='#')
                                    span.mob_hidden ПОКАЗАТЬ ВСЕ 53 НОВОСТИ
                                    span.dt_hidden БОЛЬШЕ НОВОСТЕЙ
                            
                    .service_tab_ph: .service_object_list_w.standalone
                        .section_inner
                            .service_range
                                h3.block_caption Будьте в курсе наших новостей
                                .block_caption_tip Введите ваш электронный адрес
                                
                                .text_center
                                    .subscribe_row
                                        .input_w
                                            input#feedback_name.f_input_v2.f_input(placeholder='ВАШ ЭЛ.АДРЕС')
                                        a.btn_v1.btn_white_blue_3.about_callback_btn(href='#') ПОДПИСАТЬСЯ
                    
                        
                                         
            +footer()
