@import "variables";

@font-face {
  font-family: 'air_icons';
  src:  url('#{$icomoon-font-path}/air_icons.eot?nx9j03');
  src:  url('#{$icomoon-font-path}/air_icons.eot?nx9j03#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/air_icons.ttf?nx9j03') format('truetype'),
    url('#{$icomoon-font-path}/air_icons.woff?nx9j03') format('woff'),
    url('#{$icomoon-font-path}/air_icons.svg?nx9j03#air_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'air_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-ward {
  &:before {
    content: $i-ward;
  }
}
.i-door {
  &:before {
    content: $i-door;
  }
}
.i-ruler {
  &:before {
    content: $i-ruler;
  }
}
.i-trash-can {
  &:before {
    content: $i-trash-can;
  }
}
.i-attach {
  &:before {
    content: $i-attach;
  }
}
.i-fullscreen {
  &:before {
    content: $i-fullscreen;
  }
}
.i-pin {
  &:before {
    content: $i-pin;
  }
}
.i-clock {
  &:before {
    content: $i-clock;
  }
}
.i-doc_pdf {
  &:before {
    content: $i-doc_pdf;
  }
}
.i-phone {
  &:before {
    content: $i-phone;
  }
}
.i-close {
  &:before {
    content: $i-close;
  }
}
.i-chevron-right {
  &:before {
    content: $i-chevron-right;
  }
}
.i-chevron-left {
  &:before {
    content: $i-chevron-left;
  }
}
.i-chevron-up {
  &:before {
    content: $i-chevron-up;
  }
}
.i-chevron-down {
  &:before {
    content: $i-chevron-down;
  }
}
.i-document {
  &:before {
    content: $i-document;
  }
}
.i-envelope {
  &:before {
    content: $i-envelope;
  }
}
.i-check {
  &:before {
    content: $i-check;
  }
}
.i-calculator {
  &:before {
    content: $i-calculator;
  }
}

