$icomoon-font-path: "fonts" !default;

$i-ward: "\e90f";
$i-door: "\e910";
$i-ruler: "\e911";
$i-trash-can: "\e90b";
$i-attach: "\e90c";
$i-fullscreen: "\e905";
$i-pin: "\e900";
$i-clock: "\e902";
$i-doc_pdf: "\e903";
$i-phone: "\e904";
$i-close: "\e90a";
$i-chevron-right: "\e908";
$i-chevron-left: "\e909";
$i-chevron-up: "\e906";
$i-chevron-down: "\e901";
$i-document: "\e90d";
$i-envelope: "\e912";
$i-check: "\e90e";
$i-calculator: "\e907";

